
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.blog-F9p {
  width: 100%;
  height: 313.738rem;

  .divmm-0-NES {
    padding-bottom: 2rem;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    background-color: #ffffff;

    .headerhotale-header-wrap-HMQ {
      position: relative;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1000000015);
      flex-shrink: 0;
      margin-bottom: 1.369rem;
      width: 100%;
      height: 0.631rem;
      overflow: hidden;

      .divhotale-header-background-1oC {
        width: 100%;
        height: 0.1rem;
        background-color: #1c1c1c;
      }
    }
    .divhotale-body-wrapper-uta {
      margin: 0rem 2rem 0rem 1.5rem;
      padding-bottom: 0.03rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: calc(100% - 3.5rem);
      background-color: #ffffff;
      flex-shrink: 0;

      .auto-group-h4zl-cnz {
        width: 140rem;
        height: 49.6rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 0.5rem 11.195rem 0rem;

        .divhotale-header-background-transparent-KhQ {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 124.001rem;
          height: 10.569rem;
          position: absolute;
          left: 8.5rem;
          top: 2.95rem;

          .divhotale-top-bar-container-inner-b98 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 3.119rem;
            width: 100%;

            .divhotale-top-bar-left-text-JpE {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.05rem 90.549rem 0rem 0rem;
              box-sizing: border-box;
              padding-left: 0.0207rem;
              height: 2.8rem;

              .frame-Cuc {
                width: 1.4179rem;
                height: 1.4131rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.061rem 0.287rem 0rem;
              }
              .item-1-634-567-34-5yQ {
                flex-shrink: 0;
                font-weight: 400;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                line-height: 1.7000000477;
                white-space: nowrap;
                margin-right: 2.4287rem;
                display: flex;
                font-size: 1.6rem;
              }
              .frame-jo4 {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.502rem 0.281rem 0rem;
                width: 1.4587rem;
                height: 1.0028rem;
                object-fit: contain;
              }
              .testgmailcom-fAv {
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.7000000477;
                color: #ffffff;
              }
            }
            .spantourmaster-user-top-bar-login-mDx {
              font-weight: 400;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              margin-bottom: 0.05rem;
              width: 5.463rem;
              height: 2.8rem;
              display: flex;
              font-size: 1.6rem;
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.7000000477;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
            }
          }
          .divhotale-header-container-inner-mNN {
            width: calc(100% - 0.001rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 0.001rem;

            .logo-nx1png-gES {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:f5ff1e7aa2f43c65a0f20b3203263cbaa1e92f26');
              flex-shrink: 0;
              margin: 0rem 19.131rem 0.9rem 0rem;
              width: 14.7rem;
              height: 3.7rem;
            }
            .home-9Nv {
              font-family: Jost, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              text-transform: uppercase;
              letter-spacing: 0.2rem;
              color: #ffffff;
              white-space: nowrap;
              margin: 0rem 3.936rem 0.1rem 0rem;
              font-weight: 600;
              line-height: 1.7000000293;
            }
            .pages-E9U {
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              line-height: 1.7000000293;
              letter-spacing: 0.2rem;
              text-transform: uppercase;
              margin: 0rem 3.86rem 0.1rem 0rem;
              font-size: 1.3rem;
              font-weight: 600;
              flex-shrink: 0;
            }
            .rooms-91Y {
              letter-spacing: 0.2rem;
              text-transform: uppercase;
              flex-shrink: 0;
              font-weight: 600;
              line-height: 1.7000000293;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 3.921rem 0.1rem 0rem;
              display: flex;
              font-size: 1.3rem;
            }
            .reservation-4PQ {
              margin: 0rem 3.899rem 0.1rem 0rem;
              font-weight: 600;
              text-transform: uppercase;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.3rem;
              line-height: 1.7000000293;
              letter-spacing: 0.2rem;
              color: #ffffff;
            }
            .auto-group-7yzp-NQ6 {
              margin: 0.809rem 3.934rem 0rem 0rem;
              font-size: 1.3rem;
              text-transform: uppercase;
              white-space: nowrap;
              font-family: Jost, 'Source Sans Pro';
              flex-shrink: 0;
              height: 3.209rem;
              display: flex;
              font-weight: 600;
              line-height: 1.7000000293;
              letter-spacing: 0.2rem;
              color: #ffffff;
            }
            .contact-s5x {
              font-size: 1.3rem;
              font-weight: 600;
              letter-spacing: 0.2rem;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 8.763rem 0.1rem 0rem;
              display: flex;
              line-height: 1.7000000293;
              text-transform: uppercase;
              white-space: nowrap;
            }
            .divhotale-main-menu-right-wrap-b1x {
              height: 4.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-top: 0.1rem;

              .spantourmaster-head-vpv {
                box-sizing: border-box;
                padding-right: 0.0006rem;
                height: calc(100% - 2.2rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0.947rem 4.599rem 1.253rem 0rem;

                .usd-Eqc {
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 0.5446rem;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.7000000293;
                  letter-spacing: 0.3rem;
                  color: #ffffff;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.3rem;
                  font-weight: 600;
                }
                .frame-xFp {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0905rem;
                  width: 0.7429rem;
                  height: 0.4179rem;
                  object-fit: contain;
                }
              }
              .atourmaster-room-navigation-checkout-button-gBp {
                display: flex;
                font-size: 1.3rem;
                font-family: Jost, 'Source Sans Pro';
                font-weight: 600;
                box-sizing: border-box;
                width: 13.569rem;
                justify-content: center;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
                color: #ffffff;
                white-space: nowrap;
                border: solid 0.2rem #ffffff;
                flex-shrink: 0;
                height: 100%;
                align-items: center;
                text-transform: uppercase;
              }
            }
          }
        }
        .divhotale-page-title-wrap-WRk {
          border-radius: 2rem;
          padding: 3rem 5.25rem 16.25rem 7.5rem;
          align-items: center;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          background-color: #000000;
          background-image: url('REPLACE_IMAGE:4598c7492bf58450585a85c068525d0fbf090941');
          height: 49.6rem;
          left: 0;
          box-sizing: border-box;
          background-size: 100% 119.02%;
          top: 0;
          background-position: 0 -4.7171rem;
          width: 140rem;
          position: absolute;

          .divhotale-header-background-transparent-zbp {
            margin-bottom: 6.65rem;
            width: 100%;
            height: 15.3rem;
            position: relative;
            flex-shrink: 0;

            .divhotale-top-bar-container-inner-j3c {
              left: 0.5rem;
              top: 0;
              display: flex;
              align-items: center;
              width: 122.7rem;
              height: 2.85rem;
              position: absolute;

              .divhotale-top-bar-left-text-rP8 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 78.711rem 0.05rem 0rem;
                box-sizing: border-box;
                padding-left: 0.0207rem;
                height: 2.8rem;

                .frame-ZYS {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.061rem 0.287rem 0rem;
                  width: 1.4179rem;
                  height: 1.4131rem;
                }
                .item-0983-737-383-VBC {
                  display: flex;
                  font-family: Jost, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 2.4287rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.7000000477;
                  color: #ffffff;
                  white-space: nowrap;
                }
                .frame-oSn {
                  margin: 0rem 1.502rem 0.281rem 0rem;
                  width: 1.4587rem;
                  height: 1.0028rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .n04karaokegmailcom-vnJ {
                  font-weight: 400;
                  line-height: 1.7000000477;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                }
              }
              .ng-nhp-rvr {
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.7000000477;
                color: #ffffff;
                margin-top: 0.05rem;
                cursor: pointer;
              }
            }
            .divhotale-header-container-inner-BCS {
              top: 2.2rem;
              display: flex;
              align-items: center;
              width: 127.25rem;
              height: 13.1rem;
              position: absolute;
              left: 0;

              .logo-nx1png-6aJ {
                width: 29.2rem;
                height: 13.1rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
                flex-shrink: 0;
              }
              .auto-group-b5ug-pFQ {
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 3.819rem 0rem 4.781rem 1.5rem;
                height: 100%;
                display: flex;

                .auto-group-epx4-92n {
                  font-weight: 600;
                  letter-spacing: 0.2rem;
                  text-transform: uppercase;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  margin: 0.79rem 5.1rem 0rem 0rem;
                  height: 3.128rem;
                  display: flex;
                  font-size: 1.3rem;
                  line-height: 1.7000000293;
                  flex-shrink: 0;
                }
                .v-chng-ti-cSA {
                  text-transform: uppercase;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  font-weight: 600;
                  line-height: 1.7000000293;
                  letter-spacing: 0.2rem;
                  margin: 0rem 4.2rem 0.038rem 0rem;
                  cursor: pointer;
                  display: flex;
                  color: #ffffff;
                }
                .t-phng-uw4 {
                  letter-spacing: 0.2rem;
                  font-family: Jost, 'Source Sans Pro';
                  cursor: pointer;
                  font-size: 1.3rem;
                  font-weight: 600;
                  text-transform: uppercase;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 4.4rem 0.038rem 0rem;
                  display: flex;
                  line-height: 1.7000000293;
                }
                .blog-bot {
                  font-size: 1.3rem;
                  font-weight: 600;
                  letter-spacing: 0.2rem;
                  text-transform: uppercase;
                  font-family: Jost, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin: 0rem 4.6rem 0.038rem 0rem;
                  display: flex;
                  line-height: 1.7000000293;
                  color: #ffffff;
                  white-space: nowrap;
                }
                .lin-h-VeN {
                  margin: 0rem 10.344rem 0.038rem 0rem;
                  cursor: pointer;
                  display: flex;
                  font-weight: 600;
                  line-height: 1.7000000293;
                  text-transform: uppercase;
                  font-size: 1.3rem;
                  letter-spacing: 0.2rem;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .divhotale-main-menu-right-wrap-nNa {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  height: 100%;

                  .spantourmaster-head-L9C {
                    height: calc(100% - 2.2rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    margin: 0.947rem 1.849rem 1.253rem 0rem;
                    box-sizing: border-box;
                    padding-right: 0.0006rem;

                    .vie-qbk {
                      justify-content: center;
                      font-weight: 600;
                      line-height: 1.7000000293;
                      letter-spacing: 0.3rem;
                      color: #ffffff;
                      margin-right: 0.7446rem;
                      align-items: center;
                      font-family: Jost, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.3rem;
                    }
                    .frame-A8E {
                      margin-bottom: 0.0905rem;
                      width: 0.7429rem;
                      height: 0.4179rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                  .atourmaster-room-navigation-checkout-button-VgJ {
                    box-sizing: border-box;
                    flex-shrink: 0;
                    cursor: pointer;
                    font-family: Jost, 'Source Sans Pro';
                    color: #ffffff;
                    border: solid 0.2rem #ffffff;
                    width: 19.069rem;
                    display: flex;
                    font-weight: 600;
                    line-height: 1.7000000293;
                    letter-spacing: 0.2rem;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    white-space: nowrap;
                    height: 100%;
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
          .blogs-8jG {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 7rem;
            font-weight: 300;
            line-height: 1.2;
            color: #ffffff;
            font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
            margin-right: 2.15rem;
            flex-shrink: 0;
            white-space: nowrap;
          }
          .divhotale-page-title-wrap-WRk-bg {
            height: 49.6rem;
            position: relative;
            background-image: url('REPLACE_IMAGE:4598c7492bf58450585a85c068525d0fbf090941');
            width: 140rem;
          }
        }
      }
      .divgdlr-core-blog-item-Mrv {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 7.9rem 6.97rem 8.5rem;
        width: calc(100% - 16.4rem);
        display: flex;

        .divgdlr-core-blog-item-holder-fsc {
          margin-bottom: 5.05rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-brvg-Zxz {
            width: 100%;
            height: 62.178rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .divgdlr-core-blog-grid-i5C {
              flex-shrink: 0;
              margin-right: 4rem;
              box-sizing: border-box;
              padding-bottom: 0.123rem;
              width: 60rem;
              cursor: pointer;

              .divgdlr-core-blog-thumbnail-2ra {
                margin-bottom: 2.172rem;
                width: 100%;
                overflow: hidden;
                position: relative;
                background-color: #000000;

                .kelsey-roenau-608583-unsplash-900x500jpg-N9k {
                  width: 60rem;
                  height: 33.333rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:0dee73618000897def775e42e0f06476e0bdea35');
                }
              }
              .item-12-4-2023-eNA {
                line-height: 1.7000000293;
                color: #4c4c4c;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1.467rem 0.3rem;
                display: flex;
                font-size: 1.3rem;
                font-weight: 700;
              }
              .divgdlr-core-blog-grid-content-wrap-x7x {
                width: 55rem;

                .top-10-bi-ht-hay-nht-6jx {
                  font-size: 3rem;
                  font-weight: 500;
                  line-height: 1.2;
                  color: #262626;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 3.439rem;
                  display: flex;
                }
                .divgdlr-core-blog-content-1c2 {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .bi-vit-lit-k-ra-danh-sch-top-10-bi-ht-hay-nht-bn-thng-thc-v-ht-karaoke-trn-my-karaoke-kara-n004-NBg {
                    margin-bottom: 3.444rem;
                    max-width: 55rem;
                    font-weight: 400;
                    color: #656565;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 1.7rem;
                    line-height: 1.6999999776;
                    font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                  }
                  .auto-group-c31g-oXt {
                    margin-right: 44.4597rem;
                    width: calc(100% - 44.4597rem);
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;

                    .c-thm-jwL {
                      margin-right: 0.201rem;
                      font-size: 1.7rem;
                      line-height: 1.6999999776;
                      color: #212121;
                      font-family: Jost, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-weight: 400;
                    }
                    .frame-TsL {
                      margin-top: 0.0999rem;
                      width: 1.6393rem;
                      height: 0.7285rem;
                      object-fit: contain;
                      vertical-align: top;
                      flex-shrink: 0;
                    }
                  }
                }
              }
            }
            .divgdlr-core-blog-grid-awx {
              flex-shrink: 0;
              box-sizing: border-box;
              padding-bottom: 0.123rem;
              width: 60.1rem;
              height: 100%;
              cursor: pointer;

              .divgdlr-core-blog-thumbnail-7gz {
                margin: 0rem 0.1rem 2.172rem 0rem;
                overflow: hidden;
                position: relative;
                background-color: #000000;

                .aaron-huber-401200-unsplash-900x500jpg-rPg {
                  background-image: url('REPLACE_IMAGE:368ea4568ddda2531d42f2bd4ca067757be5a588');
                  width: 60rem;
                  height: 33.333rem;
                  position: relative;
                  background-size: 100% 100%;
                }
              }
              .divgdlr-core-blog-grid-content-wrap-MLS {
                width: 100%;
                display: flex;
                flex-direction: column;

                .item-12-4-2023-trA {
                  margin-bottom: 1.517rem;
                  font-size: 1.3rem;
                  display: flex;
                  font-weight: 700;
                  line-height: 1.7000000293;
                  color: #4c4c4c;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .nhng-b-quyt-gip-bn-tr-thnh-ca-s-chuyn-nghip-DdY {
                  color: #262626;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                  max-width: 60.1rem;
                  display: flex;
                  font-size: 3rem;
                  font-weight: 500;
                  line-height: 1.2;
                  flex-shrink: 0;
                  margin-bottom: 3.389rem;
                }
                .divgdlr-core-blog-content-WMk {
                  width: 58.9rem;
                  flex-shrink: 0;

                  .bi-vit-ny-s-gii-thiu-v-cch-s-dng-my-karaoke-kara-n004-mt-cch-hiu-qu-nht-gip-bn-c-c-cc-bui-ht-tuyt-vi-v-hon-ho-T26 {
                    max-width: 58.9rem;
                    display: flex;
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 1.6999999776;
                    color: #656565;
                    font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                    margin-bottom: 3.444rem;
                  }
                  .auto-group-spw8-Uht {
                    display: flex;
                    align-items: center;
                    margin-right: 48.3967rem;
                    width: calc(100% - 48.3967rem);

                    .c-thm-RNE {
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.7rem;
                      line-height: 1.6999999776;
                      font-family: Jost, 'Source Sans Pro';
                      margin-right: 0.164rem;
                      font-weight: 400;
                      color: #212121;
                    }
                    .frame-9Z8 {
                      vertical-align: top;
                      flex-shrink: 0;
                      margin-bottom: 0.1321rem;
                      width: 1.6393rem;
                      height: 0.7285rem;
                      object-fit: contain;
                    }
                  }
                }
              }
            }
          }
          .auto-group-wt1c-g3G {
            box-sizing: border-box;
            padding-top: 5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-nvun-Qzr {
              margin: 0rem 0.1rem 5.001rem 0rem;
              width: calc(100% - 0.1rem);
              height: 58.578rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .divgdlr-core-blog-grid-Krv {
                margin-right: 4rem;
                box-sizing: border-box;
                padding-bottom: 0.101rem;
                width: 60rem;
                height: 100%;
                cursor: pointer;
                flex-shrink: 0;

                .divgdlr-core-blog-thumbnail-euC {
                  position: relative;
                  background-color: #000000;
                  margin-bottom: 2.694rem;
                  width: 100%;
                  overflow: hidden;

                  .roan-lavery-secyfpfkohw-unsplash-900x500jpg-oGJ {
                    width: 60rem;
                    height: 33.333rem;
                    position: relative;
                    background-size: 100% 100%;
                    background-image: url('REPLACE_IMAGE:ae017d63c015d2ab979c944366ada8cd9047be3b');
                  }
                }
                .divgdlr-core-blog-grid-content-wrap-6FQ {
                  width: 59.3rem;

                  .divgdlr-core-blog-info-wrapper-3Ae {
                    margin: 0rem 32.647rem 0.544rem 0rem;
                    width: calc(100% - 32.647rem);
                    display: flex;
                    align-items: center;

                    .item-12-4-2023-xHc {
                      font-size: 1.3rem;
                      line-height: 1.7000000293;
                      font-family: Jost, 'Source Sans Pro';
                      flex-shrink: 0;
                      margin: 0rem 19.753rem 0.406rem 0rem;
                      display: flex;
                      font-weight: 700;
                      color: #4c4c4c;
                      white-space: nowrap;
                    }
                    .auto-group-dyvk-rtn {
                      font-weight: 700;
                      line-height: 1.7000000293;
                      font-family: Jost, 'Source Sans Pro';
                      white-space: nowrap;
                      justify-content: center;
                      width: 0.5rem;
                      height: 2.3rem;
                      display: flex;
                      align-items: center;
                      flex-shrink: 0;
                      margin-top: 0.406rem;
                      font-size: 1.3rem;
                      color: #4c4c4c;
                    }
                  }
                  .gii-php-hon-ho-cho-phng-karaoke-gia-nh-Z2W {
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #262626;
                    font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                    white-space: nowrap;
                    margin-bottom: 3.434rem;
                    display: flex;
                  }
                  .divgdlr-core-blog-content-Fvv {
                    width: 57.7rem;

                    .bi-vit-gii-thiu-v-my-karaoke-kara-n004-v-cch-n-c-th-tr-thnh-gii-php-hon-ho-cho-phng-karaoke-gia-nh-ca-bn-1v6 {
                      font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                      margin-bottom: 3.466rem;
                      max-width: 57.7rem;
                      display: flex;
                      font-size: 1.7rem;
                      font-weight: 400;
                      line-height: 1.6999999776;
                      color: #656565;
                    }
                    .auto-group-k3sw-fUr {
                      margin-right: 47.1967rem;
                      width: calc(100% - 47.1967rem);
                      display: flex;
                      align-items: center;

                      .c-thm-oqx {
                        font-size: 1.7rem;
                        font-weight: 400;
                        color: #212121;
                        flex-shrink: 0;
                        display: flex;
                        line-height: 1.6999999776;
                        font-family: Jost, 'Source Sans Pro';
                        white-space: nowrap;
                        margin-right: 0.164rem;
                      }
                      .frame-LL6 {
                        margin-bottom: 0.1741rem;
                        width: 1.6393rem;
                        height: 0.7285rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                      }
                    }
                  }
                }
              }
              .divgdlr-core-blog-grid-4G6 {
                box-sizing: border-box;
                padding-bottom: 0.101rem;
                width: 60rem;
                height: 100%;
                cursor: pointer;
                flex-shrink: 0;

                .divgdlr-core-blog-thumbnail-zQe {
                  margin-bottom: 2.494rem;
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  background-color: #000000;

                  .pexels-photo-25284-900x500jpg-n5c {
                    width: 60rem;
                    height: 33.333rem;
                    position: relative;
                    background-size: 100% 100%;
                    background-image: url('REPLACE_IMAGE:0e47a7f941cb12af33d88f3f78304444b7059e48');
                  }
                }
                .divgdlr-core-blog-grid-content-wrap-GmU {
                  width: 58.9rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .auto-group-bgkn-caS {
                    flex-direction: column;
                    flex-shrink: 0;
                    box-sizing: border-box;
                    padding-bottom: 3.434rem;
                    width: 100%;
                    display: flex;

                    .item-12-4-2023-mCS {
                      margin-bottom: 1.15rem;
                      font-weight: 700;
                      font-family: Jost, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.3rem;
                      line-height: 1.7000000293;
                      color: #4c4c4c;
                    }
                    .thng-tin-chi-tit-v-sn-phm-v-cch-lp-t-5iv {
                      font-weight: 500;
                      line-height: 1.2;
                      color: #262626;
                      font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 3rem;
                    }
                  }
                  .divgdlr-core-blog-content-ndL {
                    flex-shrink: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .bi-vit-ny-s-cung-cp-cho-bn-thng-tin-chi-tit-v-my-karaoke-kara-n004-t-c-tnh-k-thut-n-cch-lp-t-v-s-dng-Xqp {
                      font-weight: 400;
                      line-height: 1.6999999776;
                      color: #656565;
                      flex-shrink: 0;
                      margin-bottom: 3.466rem;
                      display: flex;
                      font-size: 1.7rem;
                      font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                      max-width: 58.9rem;
                    }
                    .auto-group-favs-xRL {
                      flex-shrink: 0;
                      margin-right: 48.3967rem;
                      width: calc(100% - 48.3967rem);
                      display: flex;
                      align-items: center;

                      .c-thm-u5g {
                        font-weight: 400;
                        line-height: 1.6999999776;
                        font-family: Jost, 'Source Sans Pro';
                        flex-shrink: 0;
                        white-space: nowrap;
                        margin-right: 0.164rem;
                        display: flex;
                        font-size: 1.7rem;
                        color: #212121;
                      }
                      .frame-2RC {
                        flex-shrink: 0;
                        margin-bottom: 0.1741rem;
                        width: 1.6393rem;
                        height: 0.7285rem;
                        object-fit: contain;
                        vertical-align: top;
                      }
                    }
                  }
                }
              }
            }
            .auto-group-u5xc-YeS {
              align-items: center;
              flex-shrink: 0;
              margin-right: 0.1rem;
              width: calc(100% - 0.1rem);
              height: 58.578rem;
              display: flex;

              .divgdlr-core-blog-grid-UHC {
                margin-right: 4rem;
                box-sizing: border-box;
                padding-bottom: 0.18rem;
                width: 60rem;
                height: 100%;
                cursor: pointer;
                flex-shrink: 0;

                .divgdlr-core-blog-thumbnail-a5L {
                  background-color: #000000;
                  margin-bottom: 2.515rem;
                  width: 100%;
                  overflow: hidden;
                  position: relative;

                  .shutterstock560973166-900x500jpg-7b4 {
                    height: 33.333rem;
                    position: relative;
                    background-size: 100% 100%;
                    background-image: url('REPLACE_IMAGE:9daa2d3d3075a28ebb3b52adbd83e39bc4938e6d');
                    width: 60rem;
                  }
                }
                .divgdlr-core-blog-grid-content-wrap-c22 {
                  flex-direction: column;
                  width: 59.5rem;
                  align-items: center;
                  display: flex;

                  .auto-group-fmv8-wpz {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    box-sizing: border-box;
                    padding-bottom: 3.4125rem;
                    width: 100%;

                    .item-12-4-2023-gXg {
                      color: #4c4c4c;
                      font-family: Jost, 'Source Sans Pro';
                      margin-bottom: 1.15rem;
                      display: flex;
                      font-weight: 700;
                      flex-shrink: 0;
                      font-size: 1.3rem;
                      line-height: 1.7000000293;
                      white-space: nowrap;
                    }
                    .nhng-mn-n-c-trng-ca-kara-n004-o6W {
                      line-height: 1.2;
                      color: #262626;
                      font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 3rem;
                      font-weight: 500;
                    }
                  }
                  .divgdlr-core-blog-content-7N6 {
                    flex-shrink: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .gii-thiu-cc-mn-n-c-trng-v-sn-phm-phc-v-ti-kara-n004-bi-vit-ny-s-gip-khch-hng-ca-bn-hiu-hn-v-thc-n-v-dch-v-ca-bn-f8i {
                      color: #656565;
                      font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                      margin-bottom: 3.3875rem;
                      max-width: 59.5rem;
                      line-height: 1.6999999776;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.7rem;
                      font-weight: 400;
                    }
                    .auto-group-yrgn-HA6 {
                      margin-right: 48.9967rem;
                      width: calc(100% - 48.9967rem);
                      display: flex;
                      align-items: center;
                      flex-shrink: 0;

                      .c-thm-R1Q {
                        font-weight: 400;
                        line-height: 1.6999999776;
                        color: #212121;
                        white-space: nowrap;
                        flex-shrink: 0;
                        display: flex;
                        font-size: 1.7rem;
                        margin-right: 0.164rem;
                        font-family: Jost, 'Source Sans Pro';
                      }
                      .frame-LeA {
                        margin-bottom: 0.0181rem;
                        width: 1.6393rem;
                        height: 0.7285rem;
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                      }
                    }
                  }
                }
              }
              .divgdlr-core-blog-grid-se6 {
                box-sizing: border-box;
                padding-bottom: 0.18rem;
                width: 60rem;
                height: 100%;
                cursor: pointer;
                flex-shrink: 0;

                .divgdlr-core-blog-thumbnail-one {
                  margin-bottom: 2.515rem;
                  width: 100%;
                  overflow: hidden;
                  position: relative;
                  background-color: #000000;

                  .pascal-diekmann-707233-unsplash-900x500jpg-Z18 {
                    height: 33.333rem;
                    position: relative;
                    background-size: 100% 100%;
                    background-image: url('REPLACE_IMAGE:dd07f03ca4f4811bf797586f6b085a7d9a6c3d50');
                    width: 60rem;
                  }
                }
                .divgdlr-core-blog-grid-content-wrap-eHU {
                  display: flex;
                  flex-direction: column;
                  width: 57.2rem;
                  align-items: center;

                  .auto-group-9t7g-PF4 {
                    box-sizing: border-box;
                    padding-bottom: 3.4395rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .item-12-4-2023-vkn {
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.3rem;
                      font-weight: 700;
                      font-family: Jost, 'Source Sans Pro';
                      white-space: nowrap;
                      margin-bottom: 1.123rem;
                      line-height: 1.7000000293;
                      color: #4c4c4c;
                    }
                    .ung-gii-kht-khi-ht-karaoke-ewg {
                      font-weight: 500;
                      line-height: 1.2;
                      color: #262626;
                      font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 3rem;
                    }
                  }
                  .divgdlr-core-blog-content-Zok {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .bi-vit-ny-gii-thiu-nhng-loi-ung-ph-bin-gip-gim-cng-thng-v-tng-cng-th-lc-khi-ht-karaoke-ige {
                      flex-shrink: 0;
                      display: flex;
                      font-size: 1.7rem;
                      font-weight: 400;
                      line-height: 1.6999999776;
                      font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                      margin-bottom: 3.3875rem;
                      max-width: 57.2rem;
                      color: #656565;
                    }
                    .auto-group-xbmg-91G {
                      margin-right: 46.6967rem;
                      width: calc(100% - 46.6967rem);
                      display: flex;
                      align-items: center;
                      flex-shrink: 0;

                      .c-thm-KK4 {
                        flex-shrink: 0;
                        margin-right: 0.164rem;
                        display: flex;
                        font-size: 1.7rem;
                        line-height: 1.6999999776;
                        color: #212121;
                        font-weight: 400;
                        font-family: Jost, 'Source Sans Pro';
                        white-space: nowrap;
                      }
                      .frame-Egv {
                        object-fit: contain;
                        vertical-align: top;
                        flex-shrink: 0;
                        margin-bottom: 0.0181rem;
                        width: 1.6393rem;
                        height: 0.7285rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .divgdlr-core-pagination-wrE {
          height: 4.55rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .spanpage-numbers-h4i {
            margin-right: 0.911rem;
            height: 100%;
            justify-content: center;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 700;
            background-color: #000000;
            border-radius: 2.25rem;
            color: #ffffff;
            box-sizing: border-box;
            padding: 0rem 1.891rem 0rem 1.909rem;
            display: flex;
            line-height: 3.75;
          }
          .apage-numbers-MQA {
            background-color: #f0f0f0;
            flex-shrink: 0;
            margin-right: 0.911rem;
            padding: 0rem 1.84rem 0rem 1.86rem;
            font-weight: 700;
            color: #929292;
            height: 100%;
            font-family: Jost, 'Source Sans Pro';
            border-radius: 2.25rem;
            justify-content: center;
            font-size: 1.2rem;
            white-space: nowrap;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            line-height: 3.75;
          }
          .anext-2mC {
            line-height: 1;
            color: #929292;
            border-radius: 2.25rem;
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 1.2rem;
            white-space: nowrap;
            background-color: #f0f0f0;
            margin-top: 0.05rem;
            width: 4.5rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            height: 4.5rem;
            font-weight: 700;
          }
        }
      }
      .footer-Ven {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 140rem;
        overflow: hidden;
        margin-left: 0.5rem;
        border-radius: 2rem;

        .divhotale-footer-wrapper-SK8 {
          height: 35.519rem;
          position: relative;
          background-color: #000000;
          flex-shrink: 0;
          width: 100%;

          .divhotale-footer-container-agE {
            display: flex;
            align-items: center;
            width: 120.65rem;
            height: 17.669rem;
            position: absolute;
            left: 8rem;
            top: 9.25rem;

            .divhotale-footer-column-hkr {
              margin: 6.05rem 19.452rem 2.719rem 0rem;
              width: 12.548rem;
              height: calc(100% - 8.769rem);
              flex-shrink: 0;

              .p-p4n {
                box-sizing: border-box;
                padding-left: 0.0009rem;
                display: flex;
                align-items: center;
                margin: 0rem 0rem 2.2rem 0.3rem;

                .frame-L38 {
                  width: 0.7714rem;
                  height: 1.4857rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.655rem 0.114rem 0rem;
                }
                .item--TNe {
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  color: #ffffff;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  margin-right: 3.111rem;
                  line-height: 2;
                  white-space: nowrap;
                }
                .item--NVc {
                  font-weight: 400;
                  line-height: 2;
                  color: #ffffff;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 2.71rem;
                  display: flex;
                  font-size: 1.6rem;
                  flex-shrink: 0;
                }
                .item--6gW {
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 2;
                  color: #ffffff;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .divtourmaster-currency-switcher-Eni {
                margin-right: 4.81rem;
                box-sizing: border-box;
                padding: 0.45rem 1.501rem 0.45rem 1.5rem;
                width: calc(100% - 4.81rem);
                display: flex;
                align-items: center;
                background-color: #333333;

                .vie-kWA {
                  font-size: 1.3rem;
                  font-weight: 600;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  line-height: 2;
                  letter-spacing: 0.3rem;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  margin-right: 0.9946rem;
                }
                .frame-sKt {
                  height: 0.4178rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.1004rem;
                  width: 0.7428rem;
                }
              }
            }
            .divhotale-footer-column-Q4v {
              width: 18.7rem;
              height: 100%;
              flex-shrink: 0;

              .lin-h-kea {
                margin-bottom: 3.431rem;
                display: flex;
                line-height: 1.2000000477;
                letter-spacing: 0.3rem;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.6rem;
                font-weight: 600;
                text-transform: uppercase;
                color: #ffffff;
              }
              .divblock-14-FrE {
                display: flex;
                flex-direction: column;
                width: 100%;

                .t-0973-083-079-Qz2 {
                  margin-bottom: 1rem;
                  display: flex;
                  font-size: 1.7rem;
                  flex-shrink: 0;
                  font-weight: 400;
                  line-height: 2;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: baseline;

                  .t-0973-083-079-Qz2-sub-0 {
                  }
                  .t-0973-083-079-Qz2-sub-1 {
                    color: #9e9e9e;
                    font-family: Jost, 'Source Sans Pro';
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 2;
                  }
                }
                .e-karan004gmailcom-6kN {
                  white-space: nowrap;
                  align-items: baseline;
                  margin-bottom: 1.038rem;
                  display: flex;
                  font-size: 1.7rem;
                  font-weight: 400;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  flex-shrink: 0;
                  line-height: 2;

                  .e-karan004gmailcom-6kN-sub-0 {
                  }
                  .e-karan004gmailcom-6kN-sub-1 {
                    line-height: 2;
                    color: #9e9e9e;
                    font-family: Jost, 'Source Sans Pro';
                    font-size: 1.7rem;
                    font-weight: 400;
                  }
                  .e-karan004gmailcom-6kN-sub-2 {
                  }
                }
                .f-kara-n004-fgz {
                  line-height: 2;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: baseline;
                  display: flex;
                  font-weight: 400;
                  font-size: 1.7rem;
                  flex-shrink: 0;

                  .f-kara-n004-fgz-sub-0 {
                  }
                  .f-kara-n004-fgz-sub-1 {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 2;
                    color: #9e9e9e;
                    font-family: Jost, 'Source Sans Pro';
                  }
                }
              }
            }
            .auto-group-9dw4-Tcr {
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 13.3rem;

              .divhotale-footer-column-oAv {
                flex-shrink: 0;
                margin-right: 21.55rem;
                display: flex;
                flex-direction: column;

                .a-ch-wnv {
                  line-height: 1.2000000477;
                  text-transform: uppercase;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 600;
                  letter-spacing: 0.3rem;
                  color: #ffffff;
                  margin-bottom: 1.769rem;
                  font-size: 1.6rem;
                }
                .l-vn-lng-phc-kin-nh-b-tp-h-ch-minh-rut {
                  flex-shrink: 0;
                  max-width: 13.8rem;
                  display: flex;
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 2;
                  color: #ffffff;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                }
              }
              .divhotale-footer-column-kkN {
                flex-shrink: 0;
                margin-top: 0.05rem;
                align-items: center;
                display: flex;
                flex-direction: column;

                .footer-bannerpng-Vhx {
                  margin-bottom: 4.25rem;
                  width: 21.3rem;
                  height: 9rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:9095d2ea60c28dcd46e2a08ca268ac9956dddd14');
                  flex-shrink: 0;
                }
                .footer-cardspng-CcN {
                  background-image: url('REPLACE_IMAGE:da1e01a4800a82fc8b1ccc3eb0dbad269cb0dd80');
                  flex-shrink: 0;
                  width: 15.4rem;
                  height: 2.65rem;
                  position: relative;
                  background-size: 100% 100%;
                }
              }
            }
          }
          .logo-resortpng-i4v {
            height: 11.8rem;
            position: relative;
            left: 4.4rem;
            top: 3.4rem;
            background-size: 100% 98.193%;
            background-position: 0rem 0.2132rem;
            background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
            width: 18.2rem;
          }
        }
        .divhotale-copyright-wrapper-Pgr {
          padding: 1.112rem 7.5rem 1.112rem 90.2rem;
          width: 100%;
          font-size: 1.7rem;
          letter-spacing: 0.1rem;
          background-color: #060606;
          display: flex;
          white-space: nowrap;
          color: #939393;
          font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          height: 7.489rem;
          font-weight: 400;
          line-height: 1.6999999776;
        }
      }
    }
  }
}
