
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 141.8rem;
}.chitietblog-ugr {
  width: 100%;
  height: 403.5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0.5rem 0rem 0rem 2rem;

  .divhotale-body-wrapper-cbG {
    box-sizing: border-box;
    padding: 1.5rem 0rem 2.492rem 0rem;
    width: 140rem;
    height: 100%;
    background-color: #ffffff;

    .divhotale-page-wrapper-8pW {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .divhotale-page-title-wrap-g5L {
        align-items: center;
        background-color: #000000;
        border-radius: 2rem;
        flex-shrink: 0;
        padding: 2.95rem 5.25rem 5.2rem 7.5rem;
        display: flex;
        margin-bottom: 9.8rem;
        position: relative;
        background-size: 100% 119.02%;
        box-sizing: border-box;
        overflow: hidden;
        flex-direction: column;
        background-position: 0 -4.0799rem;
        background-image: url('REPLACE_IMAGE:4598c7492bf58450585a85c068525d0fbf090941');
        width: 100%;

        .divhotale-header-background-transparent-yq8 {
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          width: 100%;
          height: 15.35rem;
          position: relative;

          .divhotale-top-bar-container-inner-7Ae {
            align-items: center;
            width: 122.7rem;
            height: 2.85rem;
            position: absolute;
            left: 0.5rem;
            top: 0;
            display: flex;

            .divhotale-top-bar-left-text-2oQ {
              height: 2.8rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.05rem 78.711rem 0rem 0rem;
              box-sizing: border-box;
              padding-left: 0.0207rem;

              .frame-97L {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.061rem 0.287rem 0rem;
                width: 1.4179rem;
                height: 1.4131rem;
              }
              .item-0983-737-383-epn {
                font-size: 1.6rem;
                line-height: 1.7000000477;
                white-space: nowrap;
                margin-right: 2.4287rem;
                display: flex;
                font-weight: 400;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .frame-wot {
                width: 1.4587rem;
                height: 1.0028rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.502rem 0.281rem 0rem;
              }
              .n04karaokegmailcom-GbG {
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.7000000477;
                color: #ffffff;
              }
            }
            .ng-nhp-npW {
              margin-bottom: 0.05rem;
              cursor: pointer;
              display: flex;
              font-size: 1.6rem;
              line-height: 1.7000000477;
              white-space: nowrap;
              font-weight: 400;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .divhotale-header-container-inner-UhL {
            height: 13.1rem;
            position: absolute;
            left: 0;
            top: 2.25rem;
            display: flex;
            align-items: center;
            width: 127.25rem;

            .logo-nx1png-Q5C {
              flex-shrink: 0;
              width: 29.2rem;
              height: 13.1rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
            }
            .auto-group-t2ut-7EW {
              box-sizing: border-box;
              padding: 3.819rem 0rem 4.781rem 1.5rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-byzi-EK8 {
                margin: 0.79rem 5.1rem 0rem 0rem;
                font-size: 1.3rem;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
                flex-shrink: 0;
                white-space: nowrap;
                height: 3.128rem;
                display: flex;
                font-weight: 600;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
              }
              .v-chng-ti-7Nv {
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 4.2rem 0.038rem 0rem;
                cursor: pointer;
                font-weight: 600;
                color: #ffffff;
                flex-shrink: 0;
                display: flex;
                font-size: 1.3rem;
                line-height: 1.7000000293;
              }
              .t-phng-omY {
                margin: 0rem 4.4rem 0.038rem 0rem;
                font-size: 1.3rem;
                font-weight: 600;
                color: #ffffff;
                white-space: nowrap;
                font-family: Jost, 'Source Sans Pro';
                flex-shrink: 0;
                cursor: pointer;
                display: flex;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
              }
              .blog-71Y {
                margin: 0rem 4.6rem 0.038rem 0rem;
                display: flex;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                text-transform: uppercase;
                font-family: Jost, 'Source Sans Pro';
                cursor: pointer;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
              }
              .lin-h-cyt {
                margin: 0rem 10.344rem 0.038rem 0rem;
                display: flex;
                color: #ffffff;
                flex-shrink: 0;
                white-space: nowrap;
                cursor: pointer;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                font-family: Jost, 'Source Sans Pro';
              }
              .divhotale-main-menu-right-wrap-Y6r {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .spantourmaster-head-gir {
                  align-items: center;
                  flex-shrink: 0;
                  margin: 0.947rem 1.849rem 1.253rem 0rem;
                  box-sizing: border-box;
                  padding-right: 0.0006rem;
                  height: calc(100% - 2.2rem);
                  display: flex;

                  .vie-Cx6 {
                    flex-shrink: 0;
                    margin-right: 0.7446rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.7000000293;
                    letter-spacing: 0.3rem;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #ffffff;
                    font-family: Jost, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .frame-8ar {
                    height: 0.4179rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.0904rem;
                    width: 0.7429rem;
                  }
                }
                .atourmaster-room-navigation-checkout-button-FQa {
                  width: 19.069rem;
                  letter-spacing: 0.2rem;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  justify-content: center;
                  font-weight: 600;
                  line-height: 1.7000000293;
                  box-sizing: border-box;
                  flex-shrink: 0;
                  cursor: pointer;
                  align-items: center;
                  font-size: 1.3rem;
                  text-transform: uppercase;
                  height: 100%;
                  border: solid 0.2rem #ffffff;
                }
              }
            }
          }
        }
        .tri-nghim-khng-th-qun-ti-kara-n004-thin-ng-gii-tr-mi-gVt {
          display: flex;
          justify-content: center;
          font-weight: 300;
          line-height: 1.2;
          font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 1.65rem;
          max-width: 124.6rem;
          align-items: center;
          font-size: 7rem;
          color: #ffffff;
        }
        .divhotale-page-title-wrap-g5L-bg {
          background-image: url('REPLACE_IMAGE:4598c7492bf58450585a85c068525d0fbf090941');
          width: 140rem;
          height: 42.9rem;
          position: relative;
        }
      }
      .divhotale-content-wrap-Efp {
        margin: 0rem 5.5rem 8.852rem 8rem;
        width: calc(100% - 13.5rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .karaoke-kara-n004-l-mt-trong-nhng-im-n-c-yu-thch-ca-gii-tr-v-nhng-ngi-yu-ca-ht-khng-ch-v-khng-gian-thoi-mi-v-m-thanh-cht-lng-m-cn-bi-s-phong-ph-ca-thc-n-ung-ti-y-bn-c-th-thng-thc-rt-nhiu-loi-ung-khc-nhau-t-cc-loi-cocktail-c-trng-cho-v-ngt-chua-mn-n-cc-loi-bia-v-ru-c-nhp-khu-t-cc-nc-trn-th-gii-MVY {
          margin: 0rem 0rem 5.911rem 0.1rem;
          display: flex;
          font-size: 1.7rem;
          line-height: 1.6999999776;
          color: #656565;
          flex-shrink: 0;
          max-width: 126.4rem;
          font-weight: 700;
          font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
        }
        .divhotale-single-article-content-P4r {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.2rem 8.4rem 0rem;
          width: 126.3rem;

          .auto-group-v1en-HR8 {
            box-sizing: border-box;
            padding-bottom: 7.25rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .blockquotewp-block-quote-2dc {
              flex-shrink: 0;
              margin: 0rem 2.4rem 3.5rem 0rem;
              box-sizing: border-box;
              padding-right: 0.6rem;
              width: calc(100% - 2.4rem);
              height: 20.489rem;
              display: flex;
              align-items: center;

              .item--8wY {
                display: flex;
                font-size: 14rem;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 2.9rem 6.489rem 0rem;
                line-height: 1;
                color: #424242;
                font-family: Amiri, 'Source Sans Pro';
                font-weight: 700;
              }
              .p-r6r {
                margin: 8.489rem 0rem 4rem 0rem;
                width: 115.1rem;
                height: calc(100% - 12.489rem);
                overflow: hidden;
                position: relative;
                flex-shrink: 0;

                .ru-cho-ta-cm-gic-nh-ang-thng-thc-mt-tc-phm-ngh-thut-n-gi-ln-trong-ta-nhng-cm-xc-v-hnh-nh-trong-tm-tr-v-li-mt-du-n-kh-qun-mjc {
                  font-size: 2.5rem;
                  font-weight: 400;
                  line-height: 1.6;
                  font-style: italic;
                  color: #424242;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                  max-width: 115.1rem;
                  display: flex;
                }
              }
            }
            .auto-group-s5tc-mt2 {
              margin: 0rem 1.3rem 5.55rem 1.2rem;
              width: calc(100% - 2.5rem);
              height: 40.9rem;
              position: relative;
              flex-shrink: 0;

              .shutterstock307470824-600x401jpg-6QW {
                position: relative;
                left: 0;
                top: 0;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:a40c1aac10d67a4d1ba9aa3760c3800640faaeb8');
                width: 42.5rem;
                height: 28.403rem;
              }
              .p-oJv {
                height: 31.2rem;
                position: absolute;
                left: 0;
                top: 9.7rem;
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                width: 123.8rem;

                .nu-bn-thch-hng-v-tri-cy-ngt-ngo-hy-th-mt-s-loi-cocktail-nh-mojito-margarita-hoc-pina-colada-nhng-ai-yu-thch-hng-v-chua-chua-cay-cay-c-th-th-cc-loi-martini-hoc-bloody-mary-nu-bn-mun-thng-thc-nhng-loi-ru-m-kara-n004-cng-c-rt-nhiu-la-chn-cho-bn-nh-whisky-brandy-hoc-vodka-i-vi-cc-tn-ca-bia-bn-c-th-la-chn-t-cc-loi-bia-a-phng-cho-n-cc-loi-bia-nhp-khu-t-nht-bn-hn-quc-v-c-L3x {
                  margin-bottom: 10.9rem;
                  display: flex;
                  color: #656565;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 76.9rem;
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 1.6999999776;
                }
                .khng-ch-c-ung-m-cn-c-cc-mn-n-nh-hp-dn-bn-thng-thc-cng-vi-gia-nh-hoc-bn-b-ti-karaoke-kara-n004-bn-s-c-mt-tri-nghim-th-v-v-m-nhc-ung-v-khng-gian-m-cng-th-gin-v-gii-tr-sau-mt-ngy-lm-vic-mt-mi-Z58 {
                  max-width: 122.5rem;
                  font-size: 1.7rem;
                  color: #656565;
                  flex-shrink: 0;
                  margin-right: 1.3rem;
                  display: flex;
                  font-weight: 400;
                  line-height: 1.6999999776;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                }
              }
            }
            .nu-bn-mun-tr-thnh-mt-ca-s-ti-kara-n004-HfL {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2.8rem;
              font-weight: 700;
              line-height: 1.1999999455;
              color: #0c0c0c;
              font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
            }
          }
          .auto-group-ybmy-bR8 {
            height: 23.873rem;
            flex-shrink: 0;
            width: 100%;

            .chn-bi-ht-ph-hp-c-mt-bui-ht-karaoke-thnh-cng-bn-cn-chn-nhng-bi-ht-ph-hp-vi-ging-ht-ca-mnh-chn-nhng-bi-ht-m-bn-tng-nghe-v-hiu-r-li-bi-ht-c-th-truyn-ti-tinh-thn-ca-bi-ht-tt-hn-tp-luyn-ging-ht-trc-khi-vo-phng-karaoke-bn-nn-tp-luyn-ging-ht-v-iu-chnh-tn-s-ca-ging-ht-c-th-ht-tt-hn-c-th-ht-theo-cc-bn-nhc-karaoke-trn-mng-hoc-tm-mt-gio-vin-ging-ht-h-tr-s-dng-mic-ng-cch-k-thut-s-dng-mic-rt-quan-trng-c-th-ht-tt-trong-phng-karaoke-hy-t-mic-vo-pha-trc-ming-v-gi-khong-cch-khong-5-10cm-gi-c-m-thanh-tt-nht-ht-vi-tm-trng-hy-ht-vi-tm-trng-tht-v-cm-xc-c-th-truyn-ti-c-thng-ip-ca-bi-ht-n-ngi-nghe-M9Q {
              color: #656565;
              font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
              max-width: 126.3rem;
              display: flex;
              font-size: 1.7rem;
              font-weight: 400;
              line-height: 1.6999999776;
            }
          }
          .auto-group-ofq2-N6S {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 4.027rem;
            width: 100%;
            align-items: center;

            .auto-group-al8e-uMG {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 6.322rem 5.12rem 7.2rem;
              width: calc(100% - 13.522rem);
              height: 32.48rem;
              display: flex;

              .ulblocks-gallery-grid-RqQ {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 4.422rem 0rem 0rem;
                height: calc(100% - 0rem);
                display: flex;
                column-gap: 4.422rem;

                .jason-king-533730-unsplash-819x1024jpg-YQE {
                  flex-shrink: 0;
                  width: 24.878rem;
                  height: 32.48rem;
                  position: relative;
                  background-size: 100% 100.001%;
                  background-position: 0 -0.0002rem;
                  background-image: url('REPLACE_IMAGE:38d2954b7d577c0bcd75f3f133376201df4ec31c');
                }
                .shutterstock1069630346-1024x682jpg-EH4 {
                  position: relative;
                  background-size: 187.727% 100%;
                  background-position: -10.9123rem 0;
                  background-image: url('REPLACE_IMAGE:4aaadbeb3425cfddc603649abae46c42d6d26a34');
                  flex-shrink: 0;
                  width: 24.878rem;
                  height: 32.48rem;
                }
                .pascal-diekmann-707233-unsplash-819x1024jpg-ixv {
                  height: 32.48rem;
                  position: relative;
                  background-size: 100% 100.001%;
                  background-position: 0 -0.0002rem;
                  background-image: url('REPLACE_IMAGE:5a65ef9e1c068cd4f62016d4dd3e1dd26d9d651f');
                  flex-shrink: 0;
                  width: 24.878rem;
                }
              }
              .pascal-diekmann-707233-unsplash-819x1024jpg-Den {
                width: 24.878rem;
                height: 32.48rem;
                position: relative;
                background-size: 100% 100.001%;
                background-position: 0 -0.0002rem;
                background-image: url('REPLACE_IMAGE:de538abde14e62e4b6d1d60f73f0bccfce2f7f23');
                flex-shrink: 0;
                margin-bottom: 0rem;
              }
            }
            .s-dng-cc-k-thut-ht-tt-cc-k-thut-ht-nh-iu-chnh-ging-ht-cch-pht-m-hi-th-l-rt-quan-trng-c-th-ht-tt-hn-hy-tm-hiu-v-p-dng-cc-k-thut-ny-vo-vic-ht-karaoke-tn-dng-khng-gian-s-dng-khng-gian-trong-phng-karaoke-c-th-to-ra-mt-bui-biu-din-tt-hn-hy-tn-dng-cc-chuyn-ng-nh-i-li-v-tay-hoc-to-cc-biu-cm-to-s-hp-dn-cho-khn-gi-7VG {
              font-weight: 400;
              font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 0.6rem;
              max-width: 125.7rem;
              display: flex;
              font-size: 1.7rem;
              line-height: 1.6999999776;
              color: #656565;
            }
          }
        }
        .divhotale-single-nav-area-A6A {
          width: 124.7rem;
          height: 15.3rem;
          border: solid 0.1rem #e6e6e6;
          flex-shrink: 0;
          margin: 0rem 1.8rem 7rem 0rem;
          box-sizing: border-box;
          padding: 6rem 0rem 1.648rem 0rem;

          .spanhotale-single-nav-G9C {
            width: 59.3rem;
            height: 100%;

            .bi-trc--z5C {
              line-height: 1.7000000293;
              letter-spacing: 0.15rem;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.752rem;
              font-weight: 600;
              text-transform: uppercase;
              color: #9e9e9e;
              display: flex;
              font-size: 1.3rem;
            }
            .gii-php-hon-ho-cho-phng-karaoke-gia-nh-gii {
              display: flex;
              font-size: 3rem;
              font-weight: 500;
              line-height: 1.2;
              color: #262626;
              font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .divgdlr-core-social-share-item-a3Q {
          width: calc(100% - 95.345rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 39.745rem 7.1rem 55.6rem;
          box-sizing: border-box;
          padding-right: 4.311rem;

          .agdlr-core-social-share-facebook-Gwp {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-right: 1.711rem;
            width: 4rem;
          }
          .agdlr-core-social-share-linkedin-BYz {
            margin-right: 1.711rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
          }
          .agdlr-core-social-share-pinterest-CU6 {
            margin-right: 1.711rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
          }
          .agdlr-core-social-share-twitter-L4W {
            margin-right: 1.711rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
          }
          .agdlr-core-social-share-email-roY {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-right: 4.111rem;
          }
        }
        .divhotale-single-author-nhC {
          height: 21.3rem;
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1199999973);
          flex-shrink: 0;
          margin: 0rem 1.8rem 4.681rem 0rem;
          box-sizing: border-box;
          padding: 4.5rem 4rem 3.953rem 4rem;
          width: 124.7rem;

          .divhotale-single-author-wrap-u18 {
            width: 71.833rem;
            height: 100%;
            display: flex;
            align-items: flex-start;

            .divhotale-single-author-avartar-qvN {
              margin: 0rem 3rem 3.847rem 0rem;
              overflow: hidden;
              position: relative;
              border-radius: 4.5rem;
              flex-shrink: 0;

              .avatarjpeg-n4v {
                width: 9rem;
                height: 9rem;
                position: relative;
                background-size: 100% 100%;
                background-image: url('REPLACE_IMAGE:c459376595676fdb6ef4fea0593d06f2606b7582');
                border-radius: 4.5rem;
              }
            }
            .divhotale-single-author-content-wrap-H1g {
              padding-bottom: 1.4835rem;
              width: 59.833rem;
              height: 100%;
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              box-sizing: border-box;

              .ngi-vit-oEv {
                font-family: Jost, 'Source Sans Pro';
                display: flex;
                line-height: 1.7000000293;
                font-weight: 600;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                color: #b1b1b1;
                white-space: nowrap;
                margin-bottom: 0.1rem;
                font-size: 1.3rem;
              }
              .hoang-anh-uok {
                font-weight: 700;
                line-height: 1.2000000212;
                color: #141414;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 3.9305rem;
                display: flex;
                font-size: 1.8rem;
              }
              .ni-dung-thit-hu-ch-qhQ {
                display: flex;
                font-size: 1.7rem;
                font-weight: 400;
                line-height: 1.6999999776;
                color: #656565;
                font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .divrespond-Xq8 {
          margin-right: 1.8rem;
          width: 124.7rem;
          flex-shrink: 0;

          .vit-nh-gi-ca-bn-t9t {
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.1999999455;
            color: #0a0a0a;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.019rem;
            display: flex;
          }
          .formcommentform-QP8 {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .textareacomment-9rW {
              margin-bottom: 1.4rem;
              border: solid 0.1rem #bca6a6;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 100%;
              height: 19.8rem;
              overflow: hidden;
              position: relative;
              box-sizing: border-box;
            }
            .auto-group-2ckw-4yU {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 1.4rem;
              width: 100%;
              height: 5.4rem;

              .inputauthor-182 {
                width: 59.2rem;
                height: 100%;
                border: solid 0.1rem #bca6a6;
                background-color: #ffffff;
                flex-shrink: 0;
                margin-right: 2.1rem;
                box-sizing: border-box;
                padding: 1.7rem 2.3rem;

                .divplaceholder-jJv {
                  font-size: 1.4rem;
                  line-height: 1.445;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 35.366rem;
                  height: 100%;
                  overflow: hidden;
                  position: relative;
                  display: flex;
                  font-weight: 500;
                  color: #201c1c;
                  margin-right: 19.234rem;
                }
              }
              .inputemail-pLN {
                box-sizing: border-box;
                padding: 1.7rem 2.3rem;
                width: 63.4rem;
                height: 100%;
                border: solid 0.1rem #bca6a6;
                background-color: #ffffff;
                flex-shrink: 0;

                .divplaceholder-xxN {
                  width: 35.366rem;
                  height: 100%;
                  font-size: 1.4rem;
                  font-weight: 500;
                  color: #201c1c;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 23.434rem;
                  overflow: hidden;
                  position: relative;
                  display: flex;
                  line-height: 1.445;
                }
              }
            }
            .inputurl-Fga {
              border: solid 0.1rem #bca6a6;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.7rem 2.3rem;
              width: 100%;
              height: 5.4rem;

              .divplaceholder-Q3g {
                width: 76.733rem;
                overflow: hidden;
                position: relative;
                font-weight: 500;
                line-height: 1.445;
                color: #201c1c;
                white-space: nowrap;
                margin-right: 43.367rem;
                display: flex;
                font-size: 1.4rem;
                font-family: Jost, 'Source Sans Pro';
                height: 100%;
              }
            }
            .auto-group-q4xp-6SJ {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-top: 1.35rem;
              width: 100%;
              display: flex;

              .pcomment-form-cookies-consent-q8z {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 72.989rem 3.398rem 0rem;
                width: calc(100% - 72.989rem);

                .inputwp-comment-cookies-consent-Md8 {
                  box-sizing: border-box;
                  background-color: #ffffff;
                  border-radius: 0.25rem;
                  flex-shrink: 0;
                  margin: 0.12rem 1.511rem 0rem 0rem;
                  width: 1.3rem;
                  height: 1.3rem;
                  border: solid 0.1rem #767676;
                }
                .lu-tn-email-v-facebook-ca-bn-cho-nhng-ln-nh-gi-tip-theo-FyQ {
                  line-height: 1.6999999776;
                  color: #656565;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.7rem;
                  font-weight: 400;
                }
              }
              .inputsubmit-kQN {
                height: 5.4rem;
                display: flex;
                justify-content: center;
                font-weight: 700;
                color: #ffffff;
                white-space: nowrap;
                width: 16.216rem;
                align-items: center;
                font-size: 1.4rem;
                line-height: 1.445;
                font-family: Jost, 'Source Sans Pro';
                background-color: #000000;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .footer-F6E {
        display: flex;
        border-radius: 2rem;
        box-sizing: border-box;
        padding-bottom: 0rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;

        .divhotale-footer-wrapper-z3p {
          height: 35.519rem;
          position: relative;
          background-color: #000000;
          flex-shrink: 0;
          width: 100%;

          .divhotale-footer-container-XpS {
            position: absolute;
            left: 8rem;
            top: 9.25rem;
            display: flex;
            align-items: center;
            width: 120.65rem;
            height: 17.669rem;

            .divhotale-footer-column-TTC {
              margin: 6.05rem 19.452rem 2.719rem 0rem;
              width: 12.548rem;
              height: calc(100% - 8.769rem);
              flex-shrink: 0;

              .p-B8J {
                box-sizing: border-box;
                padding-left: 0.0009rem;
                display: flex;
                align-items: center;
                margin: 0rem 0rem 2.2rem 0.3rem;

                .frame-i8E {
                  margin: 0rem 2.655rem 0.114rem 0rem;
                  width: 0.7714rem;
                  height: 1.4857rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item--Sa2 {
                  font-size: 1.6rem;
                  line-height: 2;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 3.111rem;
                  display: flex;
                  font-weight: 400;
                  color: #ffffff;
                  flex-shrink: 0;
                }
                .item--ZPk {
                  margin-right: 2.71rem;
                  color: #ffffff;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 2;
                  white-space: nowrap;
                }
                .item--tB8 {
                  color: #ffffff;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 2;
                }
              }
              .divtourmaster-currency-switcher-ccv {
                margin-right: 4.81rem;
                box-sizing: border-box;
                padding: 0.45rem 1.501rem 0.45rem 1.5rem;
                width: calc(100% - 4.81rem);
                display: flex;
                align-items: center;
                background-color: #333333;

                .vie-8bG {
                  letter-spacing: 0.3rem;
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  display: flex;
                  font-weight: 600;
                  line-height: 2;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-right: 0.9946rem;
                }
                .frame-Fvn {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.1004rem;
                  width: 0.7428rem;
                  height: 0.4178rem;
                }
              }
            }
            .divhotale-footer-column-ay4 {
              height: 100%;
              flex-shrink: 0;
              width: 18.7rem;

              .lin-h-XtJ {
                margin-bottom: 3.431rem;
                font-size: 1.6rem;
                color: #ffffff;
                display: flex;
                font-weight: 600;
                line-height: 1.2000000477;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .divblock-14-FJW {
                display: flex;
                flex-direction: column;
                width: 100%;

                .t-0973-083-079-1Hg {
                  line-height: 2;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: baseline;
                  margin-bottom: 1rem;
                  font-size: 1.7rem;
                  font-weight: 400;
                  flex-shrink: 0;
                  display: flex;

                  .t-0973-083-079-1Hg-sub-0 {
                  }
                  .t-0973-083-079-1Hg-sub-1 {
                    font-weight: 400;
                    line-height: 2;
                    color: #9e9e9e;
                    font-family: Jost, 'Source Sans Pro';
                    font-size: 1.7rem;
                  }
                }
                .e-karan004gmailcom-7zv {
                  font-weight: 400;
                  font-family: Jost, 'Source Sans Pro';
                  align-items: baseline;
                  font-size: 1.7rem;
                  display: flex;
                  line-height: 2;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 1.038rem;

                  .e-karan004gmailcom-7zv-sub-0 {
                  }
                  .e-karan004gmailcom-7zv-sub-1 {
                    font-weight: 400;
                    line-height: 2;
                    color: #9e9e9e;
                    font-family: Jost, 'Source Sans Pro';
                    font-size: 1.7rem;
                  }
                  .e-karan004gmailcom-7zv-sub-2 {
                  }
                }
                .f-kara-n004-Hnv {
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                  align-items: baseline;
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 400;
                  white-space: nowrap;
                  font-size: 1.7rem;
                  line-height: 2;

                  .f-kara-n004-Hnv-sub-0 {
                  }
                  .f-kara-n004-Hnv-sub-1 {
                    font-size: 1.7rem;
                    font-weight: 400;
                    line-height: 2;
                    color: #9e9e9e;
                    font-family: Jost, 'Source Sans Pro';
                  }
                }
              }
            }
            .auto-group-vace-g4N {
              box-sizing: border-box;
              padding-left: 13.3rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .divhotale-footer-column-28E {
                margin-right: 21.55rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .a-ch-Luc {
                  letter-spacing: 0.3rem;
                  text-transform: uppercase;
                  font-family: Jost, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-bottom: 1.769rem;
                  display: flex;
                  font-size: 1.6rem;
                  line-height: 1.2000000477;
                  font-weight: 600;
                  color: #ffffff;
                  white-space: nowrap;
                }
                .l-vn-lng-phc-kin-nh-b-tp-h-ch-minh-44v {
                  font-weight: 400;
                  line-height: 2;
                  color: #ffffff;
                  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 13.8rem;
                  display: flex;
                  font-size: 1.7rem;
                }
              }
              .divhotale-footer-column-Ykn {
                margin-top: 0.05rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .footer-bannerpng-61c {
                  background-image: url('REPLACE_IMAGE:9095d2ea60c28dcd46e2a08ca268ac9956dddd14');
                  flex-shrink: 0;
                  margin-bottom: 4.25rem;
                  width: 21.3rem;
                  height: 9rem;
                  position: relative;
                  background-size: 100% 100%;
                }
                .footer-cardspng-C4e {
                  flex-shrink: 0;
                  width: 15.4rem;
                  height: 2.65rem;
                  position: relative;
                  background-size: 100% 100%;
                  background-image: url('REPLACE_IMAGE:da1e01a4800a82fc8b1ccc3eb0dbad269cb0dd80');
                }
              }
            }
          }
          .logo-resortpng-VZY {
            background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
            width: 18.2rem;
            height: 11.8rem;
            position: relative;
            left: 4.8rem;
            top: 3.4rem;
            background-size: 100% 98.193%;
            background-position: 0rem 0.2132rem;
          }
        }
        .divhotale-copyright-wrapper-NtE {
          height: 7.489rem;
          color: #939393;
          white-space: nowrap;
          box-sizing: border-box;
          font-size: 1.7rem;
          line-height: 1.6999999776;
          background-color: #060606;
          font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
          flex-shrink: 0;
          padding: 1.112rem 7.5rem 1.112rem 90.2rem;
          width: 100%;
          display: flex;
          font-weight: 400;
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}
