
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.quenmatkhau-1e6 {
  background-color: #f1f3f6;
  width: 100%;
  height: 81rem;

  .divmain-wrapper-AG6 {
    background-color: #212529;
    width: 100%;
    height: 100%;
    position: relative;

    .divrow-uzN {
      width: 129.598rem;
      height: 71.4rem;
      position: absolute;
      left: 7.2rem;
      top: 4.8rem;
      display: flex;
      align-items: center;

      .divcol-lg-7-Rxi {
        width: 75.598rem;
        height: 100%;
        box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.175999999);
        flex-shrink: 0;

        .divhero-wrap-noG {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          border-radius: 0.48rem 0 0 0.48rem;

          .divhero-bg-MLa {
            background-position: -15.751rem 0;
            background-image: url('REPLACE_IMAGE:368ea4568ddda2531d42f2bd4ca067757be5a588');
            width: 75.598rem;
            height: 71.4rem;
            position: relative;
            background-size: 141.67% 100%;
          }
        }
      }
      .divcol-lg-5-c1c {
        height: 100%;
        box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.175999999);
        background-color: #111418;
        border-radius: 0 0.48rem 0.48rem 0;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 11.066rem 4.402rem 10.3rem 4.7rem;
        width: 54rem;

        .divcol-11-8Vk {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-qqus-sCS {
            padding: 0rem 5.388rem 5.934rem 5.11rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .qun-mt-khu-naJ {
              align-items: center;
              font-size: 2.8rem;
              color: #ffffff;
              flex-shrink: 0;
              white-space: nowrap;
              margin: 0rem 0.003rem 4.614rem 0rem;
              display: flex;
              justify-content: center;
              font-weight: 500;
              line-height: 1.1999999455;
              font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
            }
            .nhp-a-ch-email-hoc-s-in-thoi-di-ng-bn-GVU {
              font-weight: 400;
              line-height: 1.7999999523;
              white-space: nowrap;
              font-size: 1.6rem;
              color: #6c757d;
              font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .divmb-3-Yxn {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .email-hoc-s-in-thoi-Wei {
              margin-bottom: 0.8rem;
              font-weight: 400;
              line-height: 1.5;
              color: #dee3e4;
              display: flex;
              font-size: 1.6rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .inputemailaddress-Qk6 {
              width: 100%;
              height: 5.191rem;
              border: solid 0.1rem #232a31;
              background-color: #232a31;
              border-radius: 0.4rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.395rem 1.636rem 1.396rem 1.636rem;

              .divplaceholder-wEE {
                margin-right: 17.526rem;
                width: 24.1rem;
                color: #777b7f;
                display: flex;
                line-height: 1.5;
                justify-content: center;
                align-items: center;
                height: 100%;
                overflow: hidden;
                white-space: nowrap;
                font-family: Poppins, 'Source Sans Pro';
                position: relative;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
          }
          .auto-group-6mn6-Q7p {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 2.4rem;
            width: 100%;

            .buttonbtn-YE2 {
              border: solid 0.1rem #0d6efd;
              box-sizing: border-box;
              box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.150000006);
              flex-shrink: 0;
              display: flex;
              font-weight: 500;
              cursor: pointer;
              align-items: center;
              font-size: 1.6rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              margin: 0rem 1.4rem 2.986rem 0rem;
              width: 43.498rem;
              justify-content: center;
              color: #ffffff;
              background-color: #0d6efd;
              border-radius: 0.4rem;
              height: 5.159rem;
              white-space: nowrap;
            }
            .divd-flex-xHk {
              width: calc(100% - 0.297rem);
              height: 2.1rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.297rem 2.214rem 0rem;

              .hrflex-grow-1-5dG {
                flex-shrink: 0;
                margin: 1.014rem 0.836rem 0.986rem 0rem;
                opacity: 0.2;
                width: 14.266rem;
                height: calc(100% - 2rem);
                overflow: hidden;
                position: relative;
                background-color: rgba(108, 117, 125, 0.200000003);
              }
              .auto-group-cgpe-apv {
                width: 29.499rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .c-th-ng-nhp-bng-w9g {
                  white-space: nowrap;
                  left: 0;
                  font-size: 1.4rem;
                  line-height: 1.5;
                  color: #6c757d;
                  display: flex;
                  font-weight: 400;
                  font-family: Poppins, 'Source Sans Pro';
                  width: 16.6rem;
                  height: 2.1rem;
                  position: absolute;
                  top: 0;
                }
                .hrflex-grow-1-qF4 {
                  left: 15.233rem;
                  top: 1.014rem;
                  overflow: hidden;
                  background-color: rgba(108, 117, 125, 0.200000003);
                  opacity: 0.2;
                  width: 14.266rem;
                  height: 0.1rem;
                  position: absolute;
                }
              }
            }
            .ulsocial-icons-8zr {
              align-items: flex-start;
              margin: 0rem 12.599rem 2.4rem 12.299rem;
              box-sizing: border-box;
              width: calc(100% - 24.898rem);
              cursor: pointer;
              column-gap: 1.2rem;
              padding: 0 0.6rem;
              height: 4.2rem;
              display: flex;
              flex-shrink: 0;

              .a-psg {
                white-space: nowrap;
                border-radius: 1.9rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 2.1111111111;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                background-color: #1874eb;
                width: 3.8rem;
                align-items: center;
                color: #ffffff;
                display: flex;
                justify-content: center;
                height: 3.8rem;
                flex-shrink: 0;
              }
              .a-iCN {
                align-items: center;
                color: #ffffff;
                display: flex;
                font-weight: 400;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                white-space: nowrap;
                border-radius: 1.9rem;
                flex-shrink: 0;
                height: 3.8rem;
                justify-content: center;
                font-size: 1.8rem;
                line-height: 2.1111111111;
                width: 3.8rem;
                background-color: #00acee;
              }
              .a-1BU {
                align-items: center;
                line-height: 2.1111111111;
                white-space: nowrap;
                flex-shrink: 0;
                height: 3.8rem;
                display: flex;
                background-color: #db4437;
                border-radius: 1.9rem;
                width: 3.8rem;
                justify-content: center;
                font-size: 1.8rem;
                font-weight: 400;
                color: #ffffff;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
              }
              .a-VMY {
                background-color: #0e76a8;
                height: 3.8rem;
                align-items: center;
                font-weight: 400;
                display: flex;
                white-space: nowrap;
                font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                flex-shrink: 0;
                width: 3.8rem;
                justify-content: center;
                line-height: 2.1111111111;
                font-size: 1.8rem;
                color: #ffffff;
                border-radius: 1.9rem;
              }
            }
            .ptext-2-BkA {
              padding: 0.736rem 15.596rem 0rem 15.602rem;
              line-height: 1.8000000545;
              color: #dee3e4;
              cursor: pointer;
              display: flex;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-right: 0.3rem;
              font-size: 1.4rem;
              flex-shrink: 0;
              box-sizing: border-box;
              align-items: baseline;
              justify-content: center;
              font-weight: 400;

              .ptext-2-BkA-sub-0 {
              }
              .ptext-2-BkA-sub-1 {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.8000000545;
                color: #0d6efd;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
      }
    }
    .logo-2-lightpng-PDx {
      width: 41.4rem;
      height: 31.3rem;
      position: absolute;
      left: 6rem;
      top: 2rem;
      background-size: 93.563% 95.67%;
      background-position: 2.0629rem 5.3097rem;
      background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');

      .logo-2-lightpng-PDx-bg {
        width: 41.4rem;
        height: 31.3rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
      }
    }
  }
}
