
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.4rem;
}.thanhcong-P2n {
  box-sizing: border-box;
  padding: 2rem 1.4rem 1.992rem 2rem;
  width: 100%;
  height: 117.8rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .divhotale-body-wrapper-hpA {
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;

    .auto-group-nnty-3t2 {
      width: 100%;
      height: 70.8rem;
      position: relative;
      flex-shrink: 0;

      .divhotale-header-background-transparent-buY {
        width: 124.001rem;
        height: 10.569rem;
        position: absolute;
        left: 8rem;
        top: 2.95rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .divhotale-top-bar-container-inner-WWi {
          margin-bottom: 3.119rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .divhotale-top-bar-left-text-TRx {
            box-sizing: border-box;
            padding-left: 0.0207rem;
            height: 2.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.05rem 90.549rem 0rem 0rem;

            .frame-MXL {
              margin: 0rem 1.061rem 0.287rem 0rem;
              width: 1.4179rem;
              height: 1.4131rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-1-634-567-34-4wY {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.7000000477;
              color: #ffffff;
              margin-right: 2.4287rem;
              display: flex;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
            }
            .frame-Ajg {
              width: 1.4587rem;
              height: 1.0028rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.502rem 0.281rem 0rem;
            }
            .testgmailcom-hDp {
              font-weight: 400;
              line-height: 1.7000000477;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.6rem;
            }
          }
          .spantourmaster-user-top-bar-login-RQi {
            height: 2.8rem;
            font-size: 1.6rem;
            white-space: nowrap;
            box-sizing: border-box;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            border: solid 0.1rem #ffffff;
            margin-bottom: 0.05rem;
            width: 5.463rem;
            display: flex;
            font-weight: 400;
            line-height: 1.7000000477;
            flex-shrink: 0;
          }
        }
        .divhotale-header-container-inner-gbY {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 0.001rem;
          width: calc(100% - 0.001rem);

          .logo-nx1png-ogA {
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:f5ff1e7aa2f43c65a0f20b3203263cbaa1e92f26');
            flex-shrink: 0;
            margin: 0rem 19.131rem 0.9rem 0rem;
            width: 14.7rem;
            height: 3.7rem;
            position: relative;
          }
          .home-V3C {
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 3.936rem 0.1rem 0rem;
            font-weight: 600;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            flex-shrink: 0;
            display: flex;
            font-size: 1.3rem;
            line-height: 1.7000000293;
            color: #ffffff;
          }
          .auto-group-mnar-Bwc {
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.3rem;
            line-height: 1.7000000293;
            color: #ffffff;
            font-weight: 600;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            white-space: nowrap;
            margin: 0.809rem 3.86rem 0rem 0rem;
            height: 3.209rem;
            display: flex;
          }
          .rooms-Gy4 {
            flex-shrink: 0;
            display: flex;
            font-weight: 600;
            letter-spacing: 0.2rem;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 3.921rem 0.1rem 0rem;
            font-size: 1.3rem;
            line-height: 1.7000000293;
            text-transform: uppercase;
            color: #ffffff;
          }
          .reservation-NWJ {
            font-size: 1.3rem;
            line-height: 1.7000000293;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.899rem 0.1rem 0rem;
            font-weight: 600;
            color: #ffffff;
            display: flex;
          }
          .blog-gG6 {
            flex-shrink: 0;
            margin: 0rem 3.934rem 0.1rem 0rem;
            display: flex;
            font-size: 1.3rem;
            line-height: 1.7000000293;
            white-space: nowrap;
            font-weight: 600;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
          }
          .contact-o5p {
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-weight: 600;
            line-height: 1.7000000293;
            letter-spacing: 0.2rem;
            margin: 0rem 8.763rem 0.1rem 0rem;
            font-size: 1.3rem;
            text-transform: uppercase;
          }
          .divhotale-main-menu-right-wrap-Wkv {
            height: 4.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-top: 0.1rem;

            .spantourmaster-head-TRG {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.947rem 4.599rem 1.253rem 0rem;
              box-sizing: border-box;
              padding-right: 0.0006rem;
              height: calc(100% - 2.2rem);

              .usd-Zz6 {
                margin-right: 0.5446rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                flex-shrink: 0;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.7000000293;
                letter-spacing: 0.3rem;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-GtW {
                height: 0.4179rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0905rem;
                width: 0.7428rem;
              }
            }
            .atourmaster-room-navigation-checkout-button-CXG {
              font-weight: 600;
              text-transform: uppercase;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              justify-content: center;
              line-height: 1.7000000293;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              height: 100%;
              display: flex;
              font-size: 1.3rem;
              letter-spacing: 0.2rem;
              white-space: nowrap;
              border: solid 0.2rem #ffffff;
              width: 13.569rem;
            }
          }
        }
      }
      .divhotale-page-title-wrap-FVY {
        padding: 2.95rem 5.25rem 12.95rem 7.5rem;
        align-items: center;
        position: absolute;
        background-size: 100% 119.02%;
        background-position: 0 -6.7332rem;
        background-image: url('REPLACE_IMAGE:212b8b55d7bab3292dfb25aefbfb4313617ee095');
        width: 140rem;
        flex-direction: column;
        background-color: #000000;
        top: 0;
        overflow: hidden;
        display: flex;
        border-radius: 2rem;
        box-sizing: border-box;
        height: 70.8rem;
        left: 0;

        .divhotale-header-background-transparent-YUe {
          height: 15.35rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 3.95rem;
          width: 100%;

          .divhotale-top-bar-container-inner-rkE {
            position: absolute;
            left: 0.5rem;
            top: 0;
            display: flex;
            align-items: center;
            width: 122.7rem;
            height: 2.85rem;

            .divhotale-top-bar-left-text-PEN {
              margin: 0.05rem 78.711rem 0rem 0rem;
              box-sizing: border-box;
              padding-left: 0.0207rem;
              height: 2.8rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .frame-6ea {
                margin: 0rem 1.061rem 0.287rem 0rem;
                width: 1.4179rem;
                height: 1.4131rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-0983-737-383-DjC {
                line-height: 1.7000000477;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                margin-right: 2.4287rem;
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .frame-85U {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.502rem 0.281rem 0rem;
                width: 1.4587rem;
                height: 1.0028rem;
              }
              .n04karaokegmailcom-rXG {
                display: flex;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.7000000477;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .ng-nhp-nfp {
              font-weight: 400;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              margin-bottom: 0.05rem;
              cursor: pointer;
              display: flex;
              font-size: 1.6rem;
              line-height: 1.7000000477;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .divhotale-header-container-inner-Wbp {
            align-items: center;
            width: 127.25rem;
            height: 13.1rem;
            position: absolute;
            left: 0;
            top: 2.25rem;
            display: flex;

            .logo-nx1png-35x {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
              flex-shrink: 0;
              width: 29.2rem;
              height: 13.1rem;
            }
            .auto-group-ptwp-98z {
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 3.819rem 0rem 4.781rem 1.5rem;
              height: 100%;
              display: flex;

              .auto-group-9q14-s4z {
                text-transform: uppercase;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0.79rem 5.1rem 0rem 0rem;
                display: flex;
                font-size: 1.3rem;
                letter-spacing: 0.2rem;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                height: 3.128rem;
                font-weight: 600;
                line-height: 1.7000000293;
              }
              .v-chng-ti-LjG {
                font-family: Jost, 'Source Sans Pro';
                margin: 0rem 4.2rem 0.038rem 0rem;
                display: flex;
                font-weight: 600;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                color: #ffffff;
                white-space: nowrap;
                cursor: pointer;
                font-size: 1.3rem;
                flex-shrink: 0;
              }
              .t-phng-qR8 {
                cursor: pointer;
                color: #ffffff;
                font-weight: 600;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                font-family: Jost, 'Source Sans Pro';
                margin: 0rem 4.4rem 0.038rem 0rem;
                display: flex;
                font-size: 1.3rem;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .blog-vhU {
                cursor: pointer;
                font-size: 1.3rem;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                color: #ffffff;
                flex-shrink: 0;
                margin: 0rem 4.6rem 0.038rem 0rem;
                display: flex;
                font-weight: 600;
                line-height: 1.7000000293;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .lin-h-qpS {
                color: #ffffff;
                display: flex;
                font-size: 1.3rem;
                font-weight: 600;
                line-height: 1.7000000293;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                margin: 0rem 5.494rem 0.038rem 0rem;
                cursor: pointer;
                flex-shrink: 0;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .divhotale-main-menu-right-wrap-M26 {
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 4.85rem;

                .spantourmaster-head-tGv {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin: 0.947rem 1.849rem 1.253rem 0rem;
                  box-sizing: border-box;
                  padding-right: 0.0006rem;
                  height: calc(100% - 2.2rem);

                  .vie-bx2 {
                    align-items: center;
                    font-weight: 600;
                    letter-spacing: 0.3rem;
                    margin-right: 0.7446rem;
                    justify-content: center;
                    font-size: 1.3rem;
                    line-height: 1.7000000293;
                    color: #ffffff;
                    font-family: Jost, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                  }
                  .frame-7fU {
                    width: 0.7428rem;
                    height: 0.4179rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-bottom: 0.0905rem;
                  }
                }
                .atourmaster-room-navigation-checkout-button-evJ {
                  line-height: 1.7000000293;
                  letter-spacing: 0.2rem;
                  white-space: nowrap;
                  width: 19.069rem;
                  display: flex;
                  font-size: 1.3rem;
                  text-transform: uppercase;
                  box-sizing: border-box;
                  height: 100%;
                  justify-content: center;
                  font-weight: 600;
                  border: solid 0.2rem #ffffff;
                  flex-shrink: 0;
                  align-items: center;
                  color: #ffffff;
                  font-family: Jost, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .t-phng-JV4 {
          margin: 0rem 2.25rem 5.6rem 0rem;
          display: flex;
          font-size: 15rem;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          line-height: 1;
          font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .thnh-cng-CKY {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 15rem;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          line-height: 1;
          font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
          margin-right: 2.25rem;
          display: flex;
        }
        .divhotale-page-title-wrap-FVY-bg {
          width: 140rem;
          height: 70.8rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:212b8b55d7bab3292dfb25aefbfb4313617ee095');
        }
      }
    }
    .footer-1Xt {
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 2rem;
      flex-shrink: 0;
      width: 100%;

      .divhotale-footer-wrapper-Afg {
        box-sizing: border-box;
        padding: 3.4rem 4.2rem;
        width: 100%;
        height: 35.519rem;
        background-color: #000000;
        flex-shrink: 0;

        .divhotale-footer-container-hQi {
          width: 124.45rem;
          height: 23.519rem;
          display: flex;
          align-items: flex-end;

          .divhotale-footer-column-dpA {
            margin: 0rem 17.6rem 2.719rem 0rem;
            width: 18.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .logo-resortpng-jsC {
              flex-shrink: 0;
              width: 18.2rem;
              height: 11.8rem;
              position: relative;
              background-size: 100% 98.193%;
              background-position: 0rem 0.2132rem;
              background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
            }
            .auto-group-zhh8-25c {
              padding: 0.1rem 1.852rem 0rem 3.8rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;

              .p-YJr {
                margin: 0rem 0rem 2.2rem 0.3rem;
                box-sizing: border-box;
                padding-left: 0.0009rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .frame-GEr {
                  margin: 0rem 2.655rem 0.114rem 0rem;
                  width: 0.7714rem;
                  height: 1.4857rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item--PKU {
                  font-weight: 400;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 3.111rem;
                  font-size: 1.6rem;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  display: flex;
                  line-height: 2;
                }
                .item--hLA {
                  display: flex;
                  font-weight: 400;
                  color: #ffffff;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-right: 2.71rem;
                  font-size: 1.6rem;
                  line-height: 2;
                  white-space: nowrap;
                }
                .item--1re {
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 2;
                  color: #ffffff;
                  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .divtourmaster-currency-switcher-wkJ {
                padding: 0.45rem 1.501rem 0.45rem 1.5rem;
                width: calc(100% - 4.81rem);
                display: flex;
                align-items: center;
                background-color: #333333;
                flex-shrink: 0;
                margin-right: 4.81rem;
                box-sizing: border-box;

                .vie-Swx {
                  font-weight: 600;
                  line-height: 2;
                  letter-spacing: 0.3rem;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.9946rem;
                  font-size: 1.3rem;
                  display: flex;
                  font-family: Jost, 'Source Sans Pro';
                }
                .frame-mUS {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.1005rem;
                  width: 0.7429rem;
                  height: 0.4179rem;
                }
              }
            }
          }
          .divhotale-footer-column-6Wi {
            margin-right: 13.3rem;
            width: 18.7rem;
            flex-shrink: 0;

            .lin-h-3Rx {
              white-space: nowrap;
              margin-bottom: 3.431rem;
              display: flex;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.2000000477;
              letter-spacing: 0.3rem;
              text-transform: uppercase;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
            }
            .divblock-14-ZfC {
              width: 100%;
              display: flex;
              flex-direction: column;

              .t-0973-083-079-7wc {
                font-weight: 400;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                display: flex;
                font-size: 1.7rem;
                line-height: 2;
                font-family: Jost, 'Source Sans Pro';
                align-items: baseline;

                .t-0973-083-079-7wc-sub-0 {
                }
                .t-0973-083-079-7wc-sub-1 {
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 2;
                  color: #9e9e9e;
                  font-family: Jost, 'Source Sans Pro';
                }
              }
              .e-karan004gmailcom-eq4 {
                font-weight: 400;
                align-items: baseline;
                display: flex;
                font-size: 1.7rem;
                line-height: 2;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.038rem;

                .e-karan004gmailcom-eq4-sub-0 {
                }
                .e-karan004gmailcom-eq4-sub-1 {
                  color: #9e9e9e;
                  font-family: Jost, 'Source Sans Pro';
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 2;
                }
                .e-karan004gmailcom-eq4-sub-2 {
                }
              }
              .f-kara-n004-36W {
                display: flex;
                font-size: 1.7rem;
                color: #ffffff;
                white-space: nowrap;
                align-items: baseline;
                flex-shrink: 0;
                font-weight: 400;
                line-height: 2;
                font-family: Jost, 'Source Sans Pro';

                .f-kara-n004-36W-sub-0 {
                }
                .f-kara-n004-36W-sub-1 {
                  font-size: 1.7rem;
                  font-weight: 400;
                  line-height: 2;
                  color: #9e9e9e;
                  font-family: Jost, 'Source Sans Pro';
                }
              }
            }
          }
          .divhotale-footer-column-d4i {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 21.55rem 0.3rem 0rem;
            display: flex;

            .a-ch-xcn {
              margin-bottom: 1.769rem;
              font-size: 1.6rem;
              line-height: 1.2000000477;
              font-family: Jost, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-weight: 600;
              letter-spacing: 0.3rem;
              text-transform: uppercase;
              color: #ffffff;
              white-space: nowrap;
            }
            .l-vn-lng-phc-kin-nh-b-tp-h-ch-minh-5hQ {
              font-weight: 400;
              line-height: 2;
              color: #ffffff;
              font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 13.8rem;
              display: flex;
              font-size: 1.7rem;
            }
          }
          .divhotale-footer-column-NgW {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 1.719rem;
            align-items: center;

            .footer-bannerpng-XZQ {
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:9095d2ea60c28dcd46e2a08ca268ac9956dddd14');
              flex-shrink: 0;
              margin-bottom: 4.25rem;
              width: 21.3rem;
              height: 9rem;
            }
            .footer-cardspng-e8E {
              width: 15.4rem;
              height: 2.65rem;
              position: relative;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:da1e01a4800a82fc8b1ccc3eb0dbad269cb0dd80');
              flex-shrink: 0;
            }
          }
        }
      }
      .divhotale-copyright-wrapper-kBG {
        box-sizing: border-box;
        color: #939393;
        white-space: nowrap;
        padding: 1.112rem 7.5rem 1.112rem 90.2rem;
        display: flex;
        line-height: 1.6999999776;
        flex-shrink: 0;
        width: 100%;
        font-size: 1.7rem;
        letter-spacing: 0.1rem;
        height: 7.489rem;
        font-weight: 400;
        font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
        background-color: #060606;
      }
    }
  }
}
