
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.otp-mt2 {
  width: 100%;
  height: 81rem;
  background-color: #f1f3f6;
}
.otp-mt2 .divmain-wrapper-wGi {
  box-sizing: border-box;
  padding: 4.8rem 7.202rem 4.8rem 7.2rem;
  width: 100%;
  height: 100%;
  background-color: #212529;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-7-dvE {
  width: 75.598rem;
  height: 100%;
  box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.175999999);
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-7-dvE .divhero-wrap-bMG {
  box-sizing: border-box;
  padding: 0rem 1.798rem 0rem 1.8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/divhero-mask-S2J.png');
  background-repeat: no-repeat;
  border-radius: 0.48rem 0 0 0.48rem;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-7-dvE .divhero-wrap-bMG .logo-2-lightpng-Ko4 {
  width: 100%;
  height: 57.2rem;
  background-size: 93.563% 95.67%;
  background-position: 3.5877rem 9.7033rem;
  background-image: url('../assets/logo-2-lightpng-bg-QwQ.png');
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-7-dvE .divhero-wrap-bMG .logo-2-lightpng-Ko4 .logo-2-lightpng-Ko4-bg {
  width: 72rem;
  height: 57.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d31d83875e59742161fe2e27890f2ca63969b723');
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-7-dvE .divhero-wrap-bMG .divhero-wrap-bMG-bg {
  width: 75.598rem;
  height: 71.4rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:212b8b55d7bab3292dfb25aefbfb4313617ee095');
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x {
  width: 54rem;
  height: 100%;
  position: relative;
  box-shadow: 0 1.6rem 4.8rem rgba(0, 0, 0, 0.175999999);
  background-color: #111418;
  border-radius: 0 0.48rem 0.48rem 0;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE {
  box-sizing: border-box;
  padding-bottom: 4.92rem;
  width: 49.396rem;
  height: 46.588rem;
  position: absolute;
  left: 2.802rem;
  top: 12.55rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .xc-nhn-m-otp-jEW {
  margin: 0rem 1.096rem 2.07rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.1999999455;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .otp-icon-lightpng-p14 {
  margin: 0rem 1.002rem 2.28rem 0rem;
  width: 7.3rem;
  height: 8.5rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/otp-icon-lightpng.png');
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .ptext-white-50-u2W {
  margin: 0rem 1.096rem 2.429rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .ptext-white-50-u2W .vui-lng-nhp-m-otp-mt-khu-dng-mt-ln-xc-minh-qB4 {
  margin-bottom: 0.18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .ptext-white-50-u2W .m-c-gi-n-179-W2J {
  margin-left: 0.113rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7999999523;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .nhp-4-s-AMk {
  margin: 0rem 37.7rem 1.65rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dee3e4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .divrow-fpJ {
  margin: 0rem 2.898rem 2.4rem 1.898rem;
  width: calc(100% - 4.796rem);
  height: 5.4rem;
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .divrow-fpJ .inputform-control-B1x {
  width: 9.95rem;
  height: 100%;
  border: solid 0.1rem #232a31;
  box-sizing: border-box;
  background-color: #232a31;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .divrow-fpJ .inputform-control-VYS {
  width: 9.95rem;
  height: 100%;
  border: solid 0.1rem #232a31;
  box-sizing: border-box;
  background-color: #232a31;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .divrow-fpJ .inputform-control-DjL {
  width: 9.95rem;
  height: 100%;
  border: solid 0.1rem #232a31;
  box-sizing: border-box;
  background-color: #232a31;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .divrow-fpJ .inputform-control-xgv {
  width: 9.95rem;
  height: 100%;
  border: solid 0.1rem #232a31;
  box-sizing: border-box;
  background-color: #232a31;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .divcol-11-ptE .buttonbtn-JEz {
  margin-left: 1.898rem;
  width: 47.498rem;
  height: 5.159rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #0d6efd;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.150000006);
  background-color: #0d6efd;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .bn-khng-nhn-c-m-gi-li-m-j5Q {
  width: 27.2rem;
  height: 2.6rem;
  position: absolute;
  left: 14.802rem;
  top: 58.8rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8000000545;
  color: #dee3e4;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .bn-khng-nhn-c-m-gi-li-m-j5Q .bn-khng-nhn-c-m-gi-li-m-j5Q-sub-0 {
}
.otp-mt2 .divmain-wrapper-wGi .divrow-Gpn .divcol-lg-5-59x .bn-khng-nhn-c-m-gi-li-m-j5Q .bn-khng-nhn-c-m-gi-li-m-j5Q-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8000000545;
  color: #0d6efd;
  font-family: Poppins, 'Source Sans Pro';
}
