
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
  height: 420rem;
}.v-chng-ti-GFx {
  width: 100%;
  height: 430.245rem;
}
.v-chng-ti-GFx .divmm-0-PbU {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 {
  box-sizing: border-box;
  padding-bottom: 0.037rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg {
  margin-bottom: 10.723rem;
  box-sizing: border-box;
  padding: 3rem 5.25rem 14.877rem 7.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-size: 100% 119.02%;
  background-position: 0 -4.5865rem;
  background-image: url('../assets/divhotale-page-title-wrap-bg-cEa.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL {
  margin-bottom: 6.65rem;
  width: 100%;
  height: 15.3rem;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-top-bar-container-inner-VH8 {
  width: 122.7rem;
  height: 2.85rem;
  position: absolute;
  left: 0.5rem;
  top: 0;
  display: flex;
  align-items: center;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-top-bar-container-inner-VH8 .divhotale-top-bar-left-text-cce {
  margin: 0rem 78.711rem 0.05rem 0rem;
  box-sizing: border-box;
  padding-left: 0.0207rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-top-bar-container-inner-VH8 .divhotale-top-bar-left-text-cce .frame-XUi {
  margin: 0rem 1.061rem 0.287rem 0rem;
  width: 1.4179rem;
  height: 1.4131rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-top-bar-container-inner-VH8 .divhotale-top-bar-left-text-cce .item-0983-737-383-DcS {
  margin-right: 2.4287rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7000000477;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-top-bar-container-inner-VH8 .divhotale-top-bar-left-text-cce .frame-7Sv {
  margin: 0rem 1.502rem 0.281rem 0rem;
  width: 1.4587rem;
  height: 1.0028rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-top-bar-container-inner-VH8 .divhotale-top-bar-left-text-cce .n04karaokegmailcom-qNv {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7000000477;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-top-bar-container-inner-VH8 .ng-nhp-Z42 {
  margin-top: 0.05rem;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7000000477;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC {
  width: 127.25rem;
  height: 13.1rem;
  position: absolute;
  left: 0;
  top: 2.2rem;
  display: flex;
  align-items: center;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .logo-nx1png-ytS {
  width: 29.2rem;
  height: 13.1rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/logo-nx1png-HLr.png');
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne {
  box-sizing: border-box;
  padding: 3.819rem 0rem 4.781rem 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .auto-group-krqc-b2e {
  margin: 0.79rem 5.1rem 0rem 0rem;
  height: 3.128rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .v-chng-ti-3fL {
  margin: 0rem 4.2rem 0.038rem 0rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .t-phng-9Ca {
  margin: 0rem 4.4rem 0.038rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .blog-rMt {
  margin: 0rem 4.6rem 0.038rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .lin-h-AtN {
  margin: 0rem 5.494rem 0.038rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .divhotale-main-menu-right-wrap-UPG {
  box-sizing: border-box;
  padding-left: 4.85rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .divhotale-main-menu-right-wrap-UPG .spantourmaster-head-cEa {
  margin: 0.947rem 1.849rem 1.253rem 0rem;
  box-sizing: border-box;
  padding-right: 0.0006rem;
  height: calc(100% - 2.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .divhotale-main-menu-right-wrap-UPG .spantourmaster-head-cEa .vie-8Tp {
  margin-right: 0.7446rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.3rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .divhotale-main-menu-right-wrap-UPG .spantourmaster-head-cEa .frame-qNE {
  margin-bottom: 0.0905rem;
  width: 0.7429rem;
  height: 0.4179rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-header-background-transparent-kqL .divhotale-header-container-inner-TfC .auto-group-za5c-Hne .divhotale-main-menu-right-wrap-UPG .atourmaster-room-navigation-checkout-button-mWn {
  width: 19.069rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .v-chng-ti-2Bp {
  margin-right: 2.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}   
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divhotale-page-title-wrap-Fdg .divhotale-page-title-wrap-Fdg-bg {
  width: 140rem;
  height: 35.227rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:4598c7492bf58450585a85c068525d0fbf090941');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY {
  margin-bottom: 11.963rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .auto-group-wete-Y3g {
  box-sizing: border-box;
  padding: 0rem 2.05rem 9.5rem 2.05rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .auto-group-wete-Y3g .khm-ph-trn-vn-tin-nghi-v-dch-v-a-dng-s5x {
  margin-bottom: 3.461rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  font-family: Allison, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .auto-group-wete-Y3g .divgdlr-core-pbf-column-content-MG2 {
  margin: 0rem 35.09rem 0rem 35.11rem;
  width: calc(100% - 70.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .auto-group-wete-Y3g .divgdlr-core-pbf-column-content-MG2 .hy-n-v-tn-hng-nhng-iu-tuyt-vi-m-chng-ti-dnh-cho-bn-ria {
  margin-bottom: 4.853rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.7000000363;
  color: #898989;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .auto-group-wete-Y3g .divgdlr-core-pbf-column-content-MG2 .divgdlr-core-divider-line-XJv {
  margin: 0rem 30.86rem 0rem 30.84rem;
  width: calc(100% - 61.7rem);
  height: 0.6rem;
  border: solid 0.3rem #0a0a0a;
  box-sizing: border-box;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q {
  margin-bottom: 7.394rem;
  width: 100%;
  height: 134.242rem;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-background-wrap-xf8 {
  box-sizing: border-box;
  padding-top: 6.944rem;
  width: 140rem;
  height: 134.242rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-background-wrap-xf8 .divgdlr-core-pbf-background-tYn {
  width: 140rem;
  height: 128.917rem;
  position: relative;
  background-size: 110% 135.203%;
  background-position: -7rem 0rem;
  background-image: url('../assets/divgdlr-core-pbf-background-1in.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g {
  width: 130.3rem;
  height: 126.514rem;
  position: absolute;
  left: 5.3rem;
  top: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-ncmc-WaA {
  margin: 0rem 0rem 10.15rem 2.7rem;
  width: calc(100% - 2.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-ncmc-WaA .divgdlr-core-image-item-wrap-STp {
  margin: 0rem 7.5rem 3.441rem 0rem;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-ncmc-WaA .divgdlr-core-image-item-wrap-STp .chef-cookjpg-yie {
  width: 60rem;
  height: 33.045rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/chef-cookjpg-7kJ.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-ncmc-WaA .khng-ch-c-cc-phng-karaoke-ring-bit-kara-n004-cn-cung-cp-cc-dch-v-i-km-nh-ung-n-v-c-bit-l-phc-v-khch-hng-24-7-nu-bn-ang-tm-kim-mt-a-im-karaoke-ng-cp-v-y-tin-nghi-hy-n-vi-kara-n004-v-tri-nghim-nhng-giy-pht-th-gin-tuyt-vi-5Wn {
  margin-top: 2.886rem;
  max-width: 60.1rem;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  color: #000000;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-sxua-tsY {
  margin: 0rem 3.6rem 13.233rem 0rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-sxua-tsY .kara-n004-l-mt-trong-s-nhng-a-im-karaoke-c-yu-thch-ti-thnh-ph-h-ch-minh-vi-h-thng-phng-karaoke-hin-i-v-cht-lng-m-thanh-tuyt-vi-vi-khng-gian-sang-trng-v-tin-nghi-kara-n004-mang-n-cho-khch-hng-nhng-giy-pht-th-gin-tuyt-vi-sau-nhng-ngy-lm-vic-cng-thng-DQ2 {
  margin-right: 3.2rem;
  max-width: 63.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  color: #000000;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-sxua-tsY .divgdlr-core-image-item-wrap-Yai {
  margin-top: 0.341rem;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-sxua-tsY .divgdlr-core-image-item-wrap-Yai .barjpg-6ML {
  width: 60rem;
  height: 33.045rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/barjpg-PGA.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-n3xi-oWe {
  margin: 0rem 3.4rem 0rem 2.7rem;
  width: calc(100% - 6.1rem);
  height: 33.045rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-n3xi-oWe .divgdlr-core-image-item-wrap-vLN {
  margin-right: 7.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-n3xi-oWe .divgdlr-core-image-item-wrap-vLN .spajpg-Tr6 {
  width: 60rem;
  height: 33.045rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/spajpg-DAn.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-2-R9Q .divgdlr-core-pbf-wrapper-container-C3g .auto-group-n3xi-oWe .vi-i-ng-nhn-vin-nhit-tnh-v-chu-o-kara-n004-cam-kt-mang-n-cho-khch-hng-dch-v-tt-nht-v-gi-c-hp-l-nht-khng-ch-n-thun-l-mt-a-ch-phc-v-karaoke-kara-n004-cn-l-mt-im-n-l-tng-t-chc-cc-s-kin-v-tic-tng-ca-c-nhn-hoc-doanh-nghip-BXC {
  margin-bottom: 0.711rem;
  max-width: 56.7rem;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  color: #000000;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .cht-lng-dch-v-ca-kara-n004-c-nh-gi-cao-bi-khch-hng-v-lun-t-li-ch-ca-khch-hng-ln-hng-u-i-ng-nhn-vin-thn-thin-v-nhit-tnh-s-gip-khch-hng-gii-p-mi-thc-mc-v-p-ng-mi-yu-cu-ca-khch-hng-trong-sut-qu-trnh-s-dng-dch-v-ti-kara-n004-VAW {
  margin: 0rem 0rem 7.044rem 3.7rem;
  max-width: 118.9rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3999999551;
  letter-spacing: 0.5rem;
  color: #0a0a0a;
  font-family: Imprima, 'Source Sans Pro';
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i {
  margin-bottom: 11.999rem;
  width: 100%;
  height: 49.566rem;
  border-radius: 2rem;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: 106.16% 100%;
  background-position: -4.3118rem 0;
  background-image: url('../assets/divgdlr-core-pbf-background-bg-aQe.png');
  background-color: #0a0a0a;
  border-radius: 2rem;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-pbf-wrapper-container-Uge {
  width: 60rem;
  height: 22.159rem;
  position: absolute;
  left: 42rem;
  top: 15.406rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-pbf-wrapper-container-Uge .auto-group-jnj2-ydQ {
  margin-bottom: 2.953rem;
  width: 100%;
  height: 14.4rem;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-pbf-wrapper-container-Uge .auto-group-jnj2-ydQ .la-chn-mt-khng-gian-l-tng-uX4 {
  width: 60rem;
  height: 14.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-pbf-wrapper-container-Uge .auto-group-jnj2-ydQ .item--BzN {
  width: 2rem;
  height: 7.6rem;
  position: absolute;
  left: 48.575rem;
  top: 4.744rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.3rem;
  font-weight: 600;
  line-height: 1.1999999758;
  color: #193573;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-pbf-wrapper-container-Uge .agdlr-core-button-id-1-54A {
  margin: 0rem 25.115rem 0rem 21.116rem;
  width: calc(100% - 46.231rem);
  height: 4.806rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #000000;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg {
  width: 140rem;
  height: 49.566rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2rem;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg .divgdlr-core-pbf-background-wrap-rj8 {
  box-sizing: border-box;
  padding: 15.406rem 38rem 12.001rem 42rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-size: 106.16% 100%;
  background-position: -4.3118rem 0;
  background-image: url('../assets/divgdlr-core-pbf-background-bg-v2a.png');
  background-color: #0a0a0a;
  border-radius: 2rem;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg .divgdlr-core-pbf-background-wrap-rj8 .divgdlr-core-pbf-wrapper-container-af8 {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg .divgdlr-core-pbf-background-wrap-rj8 .divgdlr-core-pbf-wrapper-container-af8 .auto-group-mg8w-CgW {
  margin-bottom: 2.953rem;
  width: 100%;
  height: 14.4rem;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg .divgdlr-core-pbf-background-wrap-rj8 .divgdlr-core-pbf-wrapper-container-af8 .auto-group-mg8w-CgW .la-chn-mt-khng-gian-l-tng-YkN {
  width: 60rem;
  height: 14.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg .divgdlr-core-pbf-background-wrap-rj8 .divgdlr-core-pbf-wrapper-container-af8 .auto-group-mg8w-CgW .item--Sar {
  width: 2rem;
  height: 7.6rem;
  position: absolute;
  left: 48.575rem;
  top: 4.744rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6.3rem;
  font-weight: 600;
  line-height: 1.1999999758;
  color: #193573;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg .divgdlr-core-pbf-background-wrap-rj8 .divgdlr-core-pbf-wrapper-container-af8 .agdlr-core-button-id-1-jZx {
  margin: 0rem 25.115rem 0rem 21.116rem;
  width: calc(100% - 46.231rem);
  height: 4.806rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7000000293;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #000000;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-wrapper-4-vKg .divgdlr-core-pbf-background-wrap-rj8 .divgdlr-core-pbf-background-wrap-rj8-bg {
  width: 140rem;
  height: 49.566rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:338d33fbbbb78322888ad105521e52827153247a');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-wrapper-4-o4i .divgdlr-core-pbf-background-wrap-wAv .divgdlr-core-pbf-background-wrap-wAv-bg {
  width: 140rem;
  height: 49.566rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:338d33fbbbb78322888ad105521e52827153247a');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi {
  margin: 0rem 13.503rem 0rem 13.5rem;
  width: calc(100% - 27.003rem);
  height: 4.828rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-JQ6 {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-JQ6 .logo1png-rgW {
  width: 18.833rem;
  height: 4.828rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/logo1png.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-Ner {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-Ner .logo2png-Xne {
  width: 18.833rem;
  height: 4.828rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/logo2png.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .auto-group-umqr-41t {
  margin-right: 0rem;
  width: 37.665rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .auto-group-umqr-41t .divgdlr-core-gallery-list-Q5k {
  width: 18.833rem;
  height: 4.828rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .auto-group-umqr-41t .divgdlr-core-gallery-list-Q5k .logo3png-9JE {
  width: 18.833rem;
  height: 4.828rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/logo3png.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .auto-group-umqr-41t .divgdlr-core-gallery-list-4g6 {
  width: 18.833rem;
  height: 4.828rem;
  position: absolute;
  left: 18.832rem;
  top: 0;
  overflow: hidden;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .auto-group-umqr-41t .divgdlr-core-gallery-list-4g6 .logo4png-oNn {
  width: 18.833rem;
  height: 4.828rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/logo4png.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-j1Y {
  margin-right: 0rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-j1Y .logo5png-H34 {
  width: 18.833rem;
  height: 4.828rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/logo5png.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-bZY {
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .divgdlr-core-page-builder-body-1ZY .divgdlr-core-gallery-item-holder-QJi .divgdlr-core-gallery-list-bZY .logo6png-AMk {
  width: 18.833rem;
  height: 4.828rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/logo6png.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N {
  width: 100%;
  height: 35.519rem;
  position: relative;
  background-color: #000000;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E {
  width: 120.65rem;
  height: 17.669rem;
  position: absolute;
  left: 8rem;
  top: 9.25rem;
  display: flex;
  align-items: center;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr {
  margin: 6.05rem 19.452rem 2.719rem 0rem;
  width: 12.548rem;
  height: calc(100% - 8.769rem);
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .p-RS6 {
  margin: 0rem 0rem 2.2rem 0.3rem;
  box-sizing: border-box;
  padding-left: 0.0009rem;
  display: flex;
  align-items: center;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .p-RS6 .frame-9cz {
  margin: 0rem 2.655rem 0.114rem 0rem;
  width: 0.7714rem;
  height: 1.4857rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .p-RS6 .item--Ghc {
  margin-right: 3.111rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .p-RS6 .item--aTQ {
  margin-right: 2.71rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .p-RS6 .item--VqG {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  font-family: Font Awesome 5 Brands, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .divtourmaster-currency-switcher-E2A {
  margin-right: 4.81rem;
  box-sizing: border-box;
  padding: 0.45rem 1.501rem 0.45rem 1.5rem;
  width: calc(100% - 4.81rem);
  display: flex;
  align-items: center;
  background-color: #333333;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .divtourmaster-currency-switcher-E2A .vie-Laz {
  margin-right: 0.9946rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.3rem;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-uCr .divtourmaster-currency-switcher-E2A .frame-Tfc {
  margin-bottom: 0.1004rem;
  width: 0.7429rem;
  height: 0.4179rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn {
  width: 18.7rem;
  height: 100%;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .lin-h-k8v {
  margin-bottom: 3.431rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .t-0973-083-079-oN6 {
  margin-bottom: 1rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .t-0973-083-079-oN6 .t-0973-083-079-oN6-sub-0 {
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .t-0973-083-079-oN6 .t-0973-083-079-oN6-sub-1 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  color: #9e9e9e;
  font-family: Jost, 'Source Sans Pro';
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .e-karan004gmailcom-uJe {
  margin-bottom: 1.038rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .e-karan004gmailcom-uJe .e-karan004gmailcom-uJe-sub-0 {
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .e-karan004gmailcom-uJe .e-karan004gmailcom-uJe-sub-1 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  color: #9e9e9e;
  font-family: Jost, 'Source Sans Pro';
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .e-karan004gmailcom-uJe .e-karan004gmailcom-uJe-sub-2 {
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .f-kara-n004-Fmp {
  display: flex;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .f-kara-n004-Fmp .f-kara-n004-Fmp-sub-0 {
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .divhotale-footer-column-nxn .divblock-14-FLa .f-kara-n004-Fmp .f-kara-n004-Fmp-sub-1 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  color: #9e9e9e;
  font-family: Jost, 'Source Sans Pro';
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .auto-group-zw8j-Tcz {
  box-sizing: border-box;
  padding-left: 13.3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .auto-group-zw8j-Tcz .divhotale-footer-column-oB4 {
  margin-right: 21.55rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .auto-group-zw8j-Tcz .divhotale-footer-column-oB4 .a-ch-9Vp {
  margin-bottom: 1.769rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2000000477;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .auto-group-zw8j-Tcz .divhotale-footer-column-oB4 .l-vn-lng-phc-kin-nh-b-tp-h-ch-minh-TmQ {
  max-width: 13.8rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  color: #ffffff;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .auto-group-zw8j-Tcz .divhotale-footer-column-kVc {
  margin-top: 0.05rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .auto-group-zw8j-Tcz .divhotale-footer-column-kVc .footer-bannerpng-Vxz {
  margin-bottom: 4.25rem;
  width: 21.3rem;
  height: 9rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/footer-bannerpng-CRL.png');
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .divhotale-footer-container-n8E .auto-group-zw8j-Tcz .divhotale-footer-column-kVc .footer-cardspng-D8J {
  width: 15.4rem;
  height: 2.65rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/footer-cardspng-cdC.png');
  flex-shrink: 0;
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-footer-wrapper-S4N .logo-resortpng-vHc {
  width: 18.2rem;
  height: 11.8rem;
  position: relative;
  left: 6.6rem;
  top: 4.3rem;
  background-size: 100% 98.193%;
  background-position: 0rem 0.2132rem;
  background-image: url('../assets/logo-resortpng-Aht.png');
}
.v-chng-ti-GFx .divmm-0-PbU .divhotale-body-wrapper-8Z4 .footer-gL6 .divhotale-copyright-wrapper-oMQ {
  box-sizing: border-box;
  padding: 1.112rem 7.5rem 1.112rem 90.2rem;
  width: 100%;
  height: 7.489rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6999999776;
  letter-spacing: 0.1rem;
  color: #939393;
  font-family: IBM Plex Sans Condensed, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #060606;
  flex-shrink: 0;
}
